.list[data-mode='gallery']
  .item
    padding 0 10px
    padding-top 20px
    padding-bottom 0
    margin 0
    position relative
    overflow hidden
    .img
      .thumbnail
        margin 0
        object-fit cover
        max-width none
        border-radius 0
        height 280px
      &:hover + .description
        transform translateY(0)
    .description
      box-sizing border-box
      padding 8px 15px
      bottom 0
      width 'calc(100% - %s)' % (10px * 2)
      background-color alpha(black, .5)
      backdrop-filter blur(5px)
      text-align center
      position absolute
      transition-duration .3s
      transform translateY(100%)
      color white
      &:hover
        transform translateY(0)
      .summary, .date
        display none !important
      .category a
        color white !important
        font-size .82rem
        text-align center
      .title
        font-size .92rem
        line-height 1.5em
        margin-bottom 3px
        a
          color white !important
      *
        margin 0

    @media screen and (max-width: 640px)
      &:first-child
        padding-top 0
