.list[data-mode='grid']
  .item
    padding 10px
    padding-bottom 20px
    margin-top 0 !important
    box-sizing border-box
    .img
      .thumbnail
        max-width none
        object-fit cover
        height 260px
        margin-bottom 15px
    .description
      font-size .96rem
      .title
        font-size 1.2rem
    @media screen and (max-width: 640px)
      height unset !important
      &:first-child
        padding-top 0
      .img
        .thumbnail
          height unset !important
