.list[data-mode='list']
  .item
    border-top 1px solid var(--h-color-blurriest)
    padding 15px 0
    display flex
    flex-direction row-reverse
    align-items center
    justify-content flex-end
    &:last-of-type
      border-bottom 1px solid var(--h-color-blurriest)
    .img
      margin-left 50px
      display flex
      align-items center
      .thumbnail
        max-width none
        width 260px
        height 260px
        margin-bottom 0
        object-fit cover
    .description
      font-size .96rem
      min-width calc(100% - 320px)
    @media screen and (max-width: 690px)
      display block
      .img
        margin 0
        .thumbnail
          width 100% !important
          margin-bottom 20px
      .description
        width 100%
