.list[data-mode='zigzag']
  .item
    display flex
    margin 80px 0
    position relative
    padding 40px 0
    &::before
      background-color var(--h-color-blurriest)
      content ''
      position absolute
      width 1px
      height 100px
      top calc(100% + 10px)
      left calc(1100px / 2)
      z-index 1
    .img
      position relative
      z-index 2
      .thumbnail
        width 450px
        height 300px
        max-width none
        object-fit cover
    .description
      position relative
      z-index 1
      border 1px solid alpha(black, .1)
      padding 40px
      padding-bottom 60px
    &:nth-child(2n+1)
      .description
        padding-left 75px
        transform translateY(25px) translateX(-35px)
    &:nth-child(2n)
      flex-direction row-reverse
      .description
        padding-right 75px
        transform translateY(25px) translateX(35px)
    &:last-child
      &::before
        display none !important
    @media screen and (max-width: 1200px)
      padding 25px 0
    @media screen and (min-width: 960px) and (max-width: 1200px)
      margin 60px 0
      &::before
        height 75px
        top calc(100% + 20px)
        left calc(100% / 2)
      .img
        .thumbnail
          width 375px
          height 250px
      .description
        border 1px solid rgba(0, 0, 0, .1)
        padding 40px
        padding-bottom 40px
        padding-top 30px
    @media screen and (max-width: 960px)
      margin 30px 0
      display block
      &:first-child
        margin-top 0
        padding-top 0
      &::before
        height 50px
        top calc(100% - 10px)
        left calc(100% / 2)
      .img
        .thumbnail
          width 100% !important
          height unset !important
          max-width 100% !important
          margin-bottom 20px
      .description
        padding 40px !important
        transform none !important
