.list
  .item
    .img
      .thumbnail
        width 100%
        border-radius 5px
        background-color white
    .description
      .category
        margin-bottom 5px
        a
          color var(--h-color-blur) !important
          font-size .9rem
          font-weight 500
      .title
        margin-top 0px
        margin-bottom 3px
        line-height 1.5em
        font-size 1.3rem
        font-weight 500
        a
          color var(--h-color) !important
          img
            display none
      .date
        color var(--h-color-blurrier)
        font-size .87rem
        margin-bottom 15px
      .summary
        overflow hidden
        color var(--h-color-blur)
        line-height 1.8em
        max-height 5.4em
        margin-top 1px
        margin-bottom 0
    @media screen and (max-width: 1200px)
      .title
        font-size 1.3rem
      .summary
        font-size .96rem
