$ITEM_PADDING = 40px

.list
  .item
    padding $ITEM_PADDING 0
    .img
      .thumbnail
        width 100%
        margin-bottom 15px
        border-radius 5px
        background-color white
    .description
      .title
        margin-top 0px
        margin-bottom 15px
        line-height 1.5em
        font-size 1.3rem
        font-weight 500
        a
          color var(--h-color) !important
          img
            display none
      .category
        margin-bottom 5px
        a
          color var(--h-color-blur) !important
          font-size .9rem
          font-weight 500
      .summary
        color var(--h-color-blur)
        display -webkit-box
        display -ms-flexbox
        display box
        -webkit-box-orient vertical
        -webkit-line-clamp 3
        line-height 1.8em
        overflow hidden
        max-height 80px
        margin-top 1px
        vertical-align top
        word-break break-all
      .date
        color var(--h-color-blur)
        font-size .87rem
        > span
          margin-left 7px
    @media screen and (max-width: 1200px)
      padding 25px 0
      .title
        font-size 1.3rem
      .summary
        font-size .96rem
