+cover('empty-line')
  +coverTitle()
  +coverPosts('empty-line')
+cover('list')
  +coverTitle()
  +coverPosts('list')
    +coverPost({ fallback: false })
+cover('grid')
  +coverTitle()
  +coverPosts('grid')
    +coverPost()
+cover('Z')
  +coverTitle()
  +coverPosts('Z')
    +coverPost()
+cover('gallery')
  +coverTitle()
  +coverPosts('gallery')
    +coverPost({ summary: false })
+cover('slider')
  +coverTitle()
  +coverPosts('slider')(class='swiper')
    .wrap(class='swiper-wrapper')
      +coverPost({ summary: false })(class='swiper-slide')
    .next(class='swiper-button-next')
    .prev(class='swiper-button-prev')
