//----------- EMPTY LINE -----------//

+cover('empty-line-1')
  +coverTitle()
  +coverPosts('empty-line')
+cover('empty-line-2')
  +coverTitle()
  +coverPosts('empty-line')(class='py-2')
+cover('empty-line-3')
  +coverTitle()
  +coverPosts('empty-line')(class='py-4')
+cover('empty-line-4')
  +coverTitle()
  +coverPosts('empty-line')(class='py-6')
+cover('empty-line-5')
  +coverTitle()
  +coverPosts('empty-line')(class='py-8')
