//----------- TYPOGRAPHY -----------//

+cover('title-summary-1/2')
  +coverTitle()
  +coverPosts('title-summary-1/2')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })
+cover('title-summary-2')
  +coverTitle()
  +coverPosts('title-summary-2')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })
+cover('title-l-2xl')
  +coverTitle()
  +coverPosts('title-2xl')
    +coverPost({
      link: false,
      picture: false,
      description: false,
      summary: false
    })(class='text-left')
+cover('title-c-2xl')
  +coverTitle()
  +coverPosts('title-2xl')
    +coverPost({
      link: false,
      picture: false,
      description: false,
      summary: false
    })(class='text-center')
+cover('title-r-2xl')
  +coverTitle()
  +coverPosts('title-2xl')
    +coverPost({
      link: false,
      picture: false,
      description: false,
      summary: false
    })(class='text-right')
+cover('title-l-xl')
  +coverTitle()
  +coverPosts('title-xl')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-left')
+cover('title-c-xl')
  +coverTitle()
  +coverPosts('title-xl')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-center')
+cover('title-r-xl')
  +coverTitle()
  +coverPosts('title-xl')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-right')
+cover('title-l-lg')
  +coverTitle()
  +coverPosts('title-lg')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-left')
+cover('title-c-lg')
  +coverTitle()
  +coverPosts('title-lg')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-center')
+cover('title-r-lg')
  +coverTitle()
  +coverPosts('title-lg')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-right')
+cover('title-l')
  +coverTitle()
  +coverPosts('title')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-left')
+cover('title-c')
  +coverTitle()
  +coverPosts('title')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-center')
+cover('title-r')
  +coverTitle()
  +coverPosts('title')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })(class='text-right')
+cover('summary-title-1/2')
  +coverTitle()
  +coverPosts('summary-title-1/2')
    +coverPost({
      link: false,
      picture: false,
      description: false
    })
+cover('summary-l')
  +coverTitle()
  +coverPosts('summary')
    +coverPost({
      link: false,
      picture: false,
      header: false
    })(class='text-left')
+cover('summary-c')
  +coverTitle()
  +coverPosts('summary')
    +coverPost({
      link: false,
      picture: false,
      header: false
    })(class='text-center')
+cover('summary-r')
  +coverTitle()
  +coverPosts('summary')
    +coverPost({
      link: false,
      picture: false,
      header: false
    })(class='text-right')

//----------- BUTTON -----------//

+cover('button-l')
  +coverTitle()
  +coverPosts('button')(class='justify-start')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('button-c')
  +coverTitle()
  +coverPosts('button')(class='justify-center')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('button-r')
  +coverTitle()
  +coverPosts('button')(class='justify-end')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('link-l')
  +coverTitle()
  +coverPosts('link')(class='justify-start')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('link-c')
  +coverTitle()
  +coverPosts('link')(class='justify-center')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('link-r')
  +coverTitle()
  +coverPosts('link')(class='justify-end')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('keyword-l')
  +coverTitle()
  +coverPosts('keyword')(class='justify-start')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('keyword-c')
  +coverTitle()
  +coverPosts('keyword')(class='justify-center')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
+cover('keyword-r')
  +coverTitle()
  +coverPosts('keyword')(class='justify-end')
    +coverPost({
      picture: false,
      description: false,
      summary: false
    })
