footer#footer(
  x-data='{ shown: false }'
  x-intersect.once='shown = true')
  .wrap(x-show='shown')
    if hasCategory
      include Footer/RelatedArticle
      include Footer/Tag
    include Footer/Author
