.footer-wrap(
  x-data='{ shown: false }'
  x-intersect.once='shown = true')
  footer#footer(x-show='shown')
    if hasCategory
      include Footer/RelatedArticle
      include Footer/Tag
    include Footer/Author
