.post.index
  s_article_rep_thumbnail
    img.thumbnail(src='[##_article_rep_thumbnail_url_##]')
  .category: a(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
  h1.title: a(href='[##_article_rep_link_##]') [##_article_rep_title_##]
  p.summary [##_article_rep_summary_##]
  time.date
    | →
    span [##_article_rep_date_##]
