include Sidebar/Sidebar1
include Sidebar/Sidebar2

style
  :stylus
    $menu-color = alpha(black, .7)
    $menu-background-color = white
    $width = 250px

    div[uk-modal]
      z-index 9997
      padding 0 !important
      overflow-y scroll !important
      aside
        transition none
        position absolute
        background none
        width $width
        z-index 9998
        margin-bottom 20px
        top 13px
        @media screen and (max-width: 1200px)
          top 8px
        > a
          color white !important
          margin-bottom 25px
          transition none
        > div
          margin-bottom 20px
          width $width
        ul, li
          list-style none
          margin 0
          padding 0
        ul li
          background $menu-background-color
          a
            border-bottom 1px solid alpha(black, .1)
            box-sizing border-box
            color $menu-color !important
            display block
            padding 15px
            font-size .9rem
            span, img
              display none
            i
              margin-right 10px
