div(class='protected content__index')
  .category: a(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
  h1.title: a(href=`[##_article_rep_link_##]`) [##_article_rep_title_##]
  time.date
    | →
    span [##_article_rep_date_##]
