s_index_article_rep
  include Index/Post

style
  :stylus
    #tt-body-index,
    #tt-body-category,
    #tt-body-archive
      #main
        width 600px
        @media screen and (max-width: 600px)
          width 100%
