mixin permalink(pageType, type, hasCategory=true)
  div(id=pageType)
    include Permalink/Post
    if hasCategory
      include Permalink/Comment
      s_if_var_notify
        include Permalink/Notification

script.
  /* Permalink */
  $(document).ready(() => {
    h.anchorHeadings('.permalink .contents_style', '> h2, > h3, > h4') // Add 'a' tag into headings

    h.scrollspy({
      context: '.permalink .contents_style',
      spy: '#__spy ul',
      headings: '> h2, > h3'
    }) // Scrollspy

    h.alignImageCenter({
      imageSlideBlock: true,
      imageBlock: true,
      imageGridBlock: true
    }) // Media contents alignment

    h.hljs(H.skinOptions.hljsLight, H.skinOptions.hljsDark) // Highlight.js
    h.removeTextNode('.permalink .tags') // Remove ',' text in Tags
  })

script.
  $(document).ready(() => {
    h.styledHeading('.permalink','header > .img', H.skinOptions.articleMode, {
      controllable: true,
      modeHandsControlElement: '.permalink .contents_style > div.h[data-mode]'
    }) // Set styled heading

    $(window).on('scroll', h.sticky('#__nav', '.permalink .contents_style', 'sticky')) // Set sticky
  })
