s_permalink_article_rep
  include Permalink/Post
  include Permalink/Notification

style
  :stylus
    #tt-body-page
      #main
        width 720px
        @media screen and (max-width: 720px)
          width 100%
