button(width, height, borderRadius, lineHeight, backgroundColor, color)
  border none
  background none
  display inline-block !important
  border 1px solid var(--h-color-blurriest)
  cursor pointer
  transition-duration .1s
  text-align center
  border-radius borderRadius
  width width
  height height
  line-height lineHeight !important
  background-color backgroundColor
  color color
  font-weight 500
  font-size 0 !important
  padding 0
  &:hover
    border-color var(--h-button-color-hover-background)
    background-color var(--h-button-color-hover-background)
    color var(--h-button-color-hover) !important
  i
    line-height unset !important
