$BUTTON_MARGIN = 3px
$SIZE = 35px

.content__permalink
  .container_postbtn
    padding 0
    padding-top 35px
    button
      margin 0 !important
      margin-right 9px !important
    .postbtn_like
      border none
      padding 0 !important
