.content__permalink
  .container_postbtn
    padding 0
    padding-top 35px
    .postbtn_like
      border none
      padding-left 0
      .wrap_btn_share, .wrap_btn_etc
        display none !important
    .btn_subscription, .wrap_btn[id^=reaction-] .btn_post.uoc-icon
      font-size .8rem !important
    .wrap_btn[id^=reaction-] .btn_post.uoc-icon
      line-height unset !important
