.permalink
  .container_postbtn
    .btn_subscription
      button($BUTTON_SIZE, $BUTTON_SIZE, 5px, $BUTTON_SIZE - 2, var(--h-button-background), var(--h-button-color))
      &::before
        FontAwesome('\f005')
        font-weight 600
        font-size $BUTTON_FONT-SIZE
      &:hover
        background-color var(--h-button-color-hover-background)
        &::before
          color var(--h-button-color-hover)
      > *
        display none !important
