$SIZE = 35px

.permalink
  .container_postbtn
    .btn_subscription
      button($SIZE, $SIZE, 5px, $SIZE - 2, $THEME_COLOR_WHITE, alpha($THEME_COLOR_BLACK, .9))
      &::before
        FontAwesome('\f005')
        font-weight 600
        font-size $BUTTON_FONT-SIZE
      &:hover
        background-color alpha($THEME_COLOR_BLACK, .9)
        &::before
          color $THEME_COLOR_WHITE
      > *
        display none !important
