#tistorySnsLayer, #tistoryEtcLayer
  border-radius 5px
  box-shadow none
  border 1px solid alpha(black, 0)
  background var(--h-color-background-level-2) !important
  .btn_mark
    color var(--h-color) !important
    &:hover
      border-color var(--h-button-color-background) !important
      background-color var(--h-button-color-background) !important
  .ico_arrbt
    display none
