.permalink
  .related
    border none
    border-radius 5px
    background-color var(--h-color-background-level-2)
    padding 20px
    margin-top 15px !important
    margin-bottom 0 !important
    box-sizing border-box
    strong
      display block
      font-size .92rem !important
      border-bottom 1px solid var(--h-color) !important
      margin-top 0 !important
      margin-bottom 8px !important
      &::after
        content '\f0c9'
    a
      text-decoration none !important
      font-size .86rem !important
      &::after
        content '\f061'
    *
      position relative
      color var(--h-color) !important
      &::after
        font-weight 600
        transform scale(.8)
        position absolute
        right 0
        FontAwesome()
    strong, a
      TextOverflowHidden()
      display block
      padding 5px 0 !important
      padding-right 20px !important
      line-height 1.5 !important
