$WIDTH = 180px
$HEIGHT = 620px

#__spy
  position absolute
  width $WIDTH
  list-style none
  text-align left
  font-weight 400
  z-index 0
  display block
  height 100%
  // (MAX_WIDTH + ARTICLE_WIDTH / 2) + MARGIN_LEFT
  margin-left 'calc(((1100px + %s) / 2) + 50px) !important' % var(--h-article-width)
  top 0
  .__
    position sticky
    top 80px
    max-height $HEIGHT
    overflow hidden
    width $WIDTH
    height 100%
    ul
      overflow-x hidden
      overflow-y scroll
      max-height $HEIGHT
      width $WIDTH + 20px
      border-left 1px dashed alpha($THEME_COLOR_BLACK, .2)
      box-sizing border-box
      li
        padding-left 20px
        box-sizing border-box
        max-width $WIDTH
        a
          font-size .82rem
          &[data-tag=h3]
            padding-left 15px
        &.uk-active
          a
            transition-duration .5s
            color alpha($THEME_COLOR_BLACK, .9)
            font-weight 500
  @media screen and (max-width: 1820px)
    display none !important
