$TAG_HEIGHT = 32px

.permalink
  .tags
    text-align left
    margin-top 10px
    a
      margin-top 10px
      margin-right 10px
      background-color var(--h-color-background-level-2)
      color var(--h-color-blur)
      display inline-block
      font-size .8rem
      border-radius 5px
      height $TAG_HEIGHT
      line-height $TAG_HEIGHT
      padding 0 14px
      transition-duration .2s
      &:first-of-type
        &::before
          font-weight 600
          margin-right 6px
          FontAwesome('\f02b')
          font-size .76rem
      &:hover
        background-color var(--h-button-color-hover-background)
        color var(--h-button-color-hover) !important
