mixin permalink(pageType, type, hasCategory = true)
  #{`s_${pageType}_rep`}
    include @/templates/Post/Permalink/Post
    if hasCategory
      s_if_var_comment
        include @/templates/Post/Permalink/Comment
      s_if_var_notify
        include ~views/Main/Post/Permalink/Notification

script.
  /**
   * Media contents alignment
   */
  $(document).ready(() => {
    const alignImage = function (width) {
      width = width > 1100 ? 1100 : width
      $(this).css({ width, 'max-width': 'none', 'margin-left': `calc((100% - ${width}px) / 2)`})
    }

    $('figure.imageblock.alignCenter').each(function () {
      alignImage.call(this, $(this).data('origin-width') || $(this).attr('width') || $(this).width())
    })
    $('figure.imagegridblock').each(function () {
      alignImage.call(this, 1100)
    })
    $('figure.imageslideblock.alignCenter').each(function () {
      alignImage.call(this, $(this).find('.image-wrap.selected > img').data('origin-width'))
    })
  })

script.
  /**
   * Settings for Permalink
   */
  $(document).ready(() => {
    // Headings
    $('.content__permalink').find('h2, h3, h4').each(function () {
      const $heading = $(this)
      const anchor = encodeURIComponent($heading.text())
      const $a = $('<a></a>').attr('href', '#' + anchor).text($heading.text())
      const htmlContent = $heading.html()

      $a.html(htmlContent)
      $heading.attr('id', anchor).empty().append($a)
    })
    // Code Highlighting
    hljs.initHighlightingOnLoad()
  })

style(scoped)
  :stylus
    #tt-body-page
      #__spy
        left 'calc(((1100px - %s - 200px) / 2) + 170px)' % unquote('[##_var_article-width_##]' + 'px')

style
  :stylus
    $font-awesome = 'Font Awesome 5 Pro'
    $base-color = #ed5207
    $base-color-grey = #f8f8f8

    $color = alpha(black, .8)
    $moreLess-color = white

    .content__permalink
      color $color
      .header
        text-align center
        .category
          font-weight 500
          color $base-color
          font-size .96rem
        .title
          margin-top 0
          margin-bottom 5px
          font-weight 600
          font-size 1.7rem
          line-height 1.5em
        .metainfo
          font-size .9rem
          color alpha(black, .5)
          span
            display inline-block
            padding 0 3px
      .content
        text-align left
        margin-top 40px
        figure[data-ke-type='opengraph'],
        div[data-ke-type=moreLess],
        blockquote, ul, ol, table,
        h2, h3, h4
          margin 20px 0
          > a
            color black
            text-decoration none !important
        blockquote [data-ke-style=style2],
        ul li, table td, table th,
        h2, h3, h4, p, span
          line-height 1.8em
        p
          margin 0 !important
        figure[data-ke-type='opengraph']
          margin-top 10px !important
        .imageblock
          figcaption
            font-size .9rem
            color alpha(black, .5)
        .imageslideblock
          .image-container
            width inherit !important
            height inherit !important
            overflow unset
        div[data-ke-type=moreLess]
          position relative
          .moreless-content
            margin-top 25px
          > .btn-toggle-moreless
            display inline-block
            border-radius 16px
            background-color black
            padding 2px 14px
            color $moreLess-color !important
            font-size .85rem !important
            font-weight 600
            &::before
              font-family $font-awesome
              content '\f0a9'
              margin-right 5px
              color $moreLess-color
          &.open
            > .btn-toggle-moreless::before
                content '\f0ab'
          &::before
            z-index -1
            content ''
            position absolute
            top 15px
            left 0
            height 0
            width 100%
            border-bottom 1px dashed alpha(black, .1)
        blockquote
          font-style initial
          &[data-ke-style=style1]
            text-align: center
            font-size 1.1rem
            &::before
              font-family $font-awesome
              content '\f10e'
              font-weight 600
              display block
              margin-bottom 3px
            p
              color black
          &[data-ke-style=style2]
            border solid #acacac
            border-width 0 0 0 2px
            padding 1px 0 0 12px
            color #666
            text-align left
            font-size .9rem
          &[data-ke-style=style3]
            font-size 1rem
            background #f8f8f8 !important
            border none !important
        ul, ol
          padding-left 20px
          li
            margin 6px 0
        ul li
          list-style circle
        table, td, th
          border none
          border-bottom 1px solid alpha(black, .1)
        table
          td, th
            font-size .9rem
            padding 16px 12px
            box-sizing border-box
        h2
          font-size 1.5rem
        h3
          font-size 1.3rem
        h4
          font-size 1.1rem
        p, span
          letter-spacing .8px
        *:not(pre) > code
          position relative
          top -1px
          color $base-color
          padding 2px 8px
          background $base-color-grey
          border-radius 5px
          white-space normal
        b, strong
          color alpha(black, .9)
          font-weight 600
        pre
          border none
          padding 0
          code
            background-color $base-color-grey
            border-radius 5px
            padding 15px
            &, *
              font-family 'D2Coding' !important
        img
          border-radius 5px
        a
          color $base-color
          text-decoration underline !important
      @media screen and (max-width: 1200px)
        .header
          .title
            font-size 1.7rem
        .content
          h2
            font-size 1.3rem
          h3
            font-size 1.2rem
          h4
            font-size 1rem
          .imageblock.alignCenter,
          .imagegridblock,
          .imageslideblock.alignCenter
            width 100% !important
            margin 0 !important
          blockquote[data-ke-style=style1]::before
            font-size .85rem

style
  :stylus
    $base-background-color = #292a2d

    html[data-theme='dark']
      .content__permalink
        .fileblock
          border none !important
          background-color #292a2d
          .image, a::after
            filter brightness(0) invert(1);
        > .header
          .title
            color white
          .category
            color alpha(white, .8)
          .metainfo
            color alpha(white, .8)
        .content
          hr
            filter brightness(0) invert(1);
          div[data-ke-type=moreLess]
            &::before
              border-bottom 1px dashed alpha(white, .5)
          figure[id^=og]
            > a
              border none !important
            .og-text
              background $base-background-color
            .og-image
              border none
          b, strong, blockquote,
          code, a,
          table td, table th,
          ol,ul, p, span
            color white !important
          .imagegridblock, .imageslideblock, .imageblock
            figcaption
              color alpha(white, .8)
          blockquote
            &[data-ke-style=style3]
              background #292a2d !important
          code
            background $base-background-color !important
          table, td, th
            border-bottom 1px solid alpha(white, .5)
