doctype html

html#__hELLO(lang='ko' data-theme='[##_var_theme_##]')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='user-scalable=no, width=device-width')

    title [##_page_title_##] — [##_title_##]

    link(rel='alternate' type='application/rss+xml' title='[##_title_##]' href='[##_rss_url_##]')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700')

    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/xcode.min.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/load-awesome@1.1.0/css/ball-clip-rotate.min.css')

    script(src='//code.jquery.com/jquery-3.4.1.min.js')

    script(scoped).
      $('html').attr('data-theme', localStorage.TTDARK
        ? localStorage.TTDARK === 'Y' ? 'dark' : 'light'
        : window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : $('html').attr('data-theme')
      )

    style
      :stylus
        $font-family = 'Noto Sans KR', sans-serif
        $a-color = alpha(black, .5)
        $a-hover-color = black

        body
          *:not(i)
            font-family $font-family !important
            outline none
            word-break break-all
          ul, ol
            list-style none
            margin 0
            padding 0
          a
            color $a-color
            text-decoration none !important
            pointer-events: initial !important
            &:hover
              color $a-hover-color
              transition-duration .2s

    style
      :stylus
        html[data-theme='dark']
          background-color #1e1f21
          a
            color alpha(white, .9)
            &:hover
              color white !important

  body(id='[##_body_id_##]')
    block TIDORY

    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js')
    script(src='//cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js')
    script(src='//cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js')
    script(src='//kit.fontawesome.com/65f7e05682.js')
