doctype html

html#__hELLO(lang='ko' data-theme='[##_var_theme_##]')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')

    title [##_page_title_##] — [##_title_##]

    link(rel='alternate' type='application/rss+xml' title='[##_title_##]' href='[##_rss_url_##]')

    script(async src='//kit.fontawesome.com/65f7e05682.js')

    script(defer src='//cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js')
    script(defer src='//cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js')

    link(rel='preconnect' href='https://ka-f.fontawesome.com')
    link(rel='preconnect' href='https://fonts.gstatic.com')

    link(rel='stylesheet' href='//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-full.css' media='print' onload=`this.media='all'`)

    link#__hljs(rel='stylesheet' href='#')

    script(scoped).
      const $ = tjQuery
    script(scoped).
      window.H = {}
      window.H.skinOptions = {
        indexWidth: '[##_var_index-width_##]',
        articleWidth: '[##_var_article-width_##]',
        guestbookWidth: '[##_var_guestbook-width_##]',
        tagCloudWidth: '[##_var_tagcloud-width_##]',
        theme: '[##_var_theme_##]',
        hljsLight: '[##_var_hljs-light_##]',
        hljsDark: '[##_var_hljs-dark_##]',
        noticeListMode: '[##_var_notice-image-mode_##]',
        listImageMode: '[##_var_list-image-mode_##]',
        articleImageMode: '[##_var_article-image-mode_##]',
        switchTheme: '[##_var_switch-theme_##]',
        toTop: '[##_var_to-top_##]',
        sidebar: '[##_var_sidebar_##]',
        foldableCategory: '[##_var_foldable-category_##]',
        scrollspy: '[##_var_scrollspy_##]',
        author: '[##_var_author_##]',
        related: '[##_var_related_##]',
        notify: '[##_var_notify_##]',
        message: '[##_var_message_##]',
        messageRequest: '[##_var_message-request_##]',
        messageHeart: '[##_var_message-heart_##]',
        messageUnheart: '[##_var_message-unheart_##]',
        messageSubscribe: '[##_var_message-subscribe_##]',
        messageUnsubscribe: '[##_var_message-unsubscribe_##]',
        messageUrl: '[##_var_message-url_##]'
      }
    script(scoped).
      $('html').attr('data-theme', localStorage.TTDARK
        ? localStorage.TTDARK === 'Y' ? 'dark' : 'light'
        : window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : $('html').attr('data-theme')
      )

    style(scoped)
      :stylus
        :root
          --h-article-width unquote('[##_var_article-width_##]' + 'px')
          --h-index-width unquote('[##_var_index-width_##]' + 'px')
          --h-guestbook-width unquote('[##_var_guestbook-width_##]' + 'px')
          --h-tagcloud-width unquote('[##_var_tagcloud-width_##]' + 'px')
    style
      include:stylus @/styl/App.styl
      include:stylus @/styl/Themes.styl

  body(id='[##_body_id_##]' data-sidebar-default='[##_var_sidebar_##]')
    block TIDORY
