doctype html

html#__hELLO(lang='ko' data-theme='[##_var_theme_##]')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='user-scalable=no, width=device-width')

    title [##_page_title_##] — [##_title_##]

    link(rel='alternate' type='application/rss+xml' title='[##_title_##]' href='[##_rss_url_##]')

    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/load-awesome@1.1.0/css/ball-clip-rotate.min.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-full.css')
    link(rel='stylesheet' href='#' id='hljs')

    script(src='//code.jquery.com/jquery-3.4.1.min.js')

    script(scoped).
      window.H = {}
      window.H.skinOptions = {
        listImageMode: '[##_var_list-image-mode_##]',
        gridColumnCount: '[##_var_grid-column-count_##]',
        galleryColumnCount: '[##_var_gallery-column-count_##]',
        articleMode: '[##_var_article-mode_##]',
        hljsThemeLight: '[##_var_hljs-theme-light_##]',
        hljsThemeDark: '[##_var_hljs-theme-dark_##]',
        comment: '[##_var_comment_##]'
      }
    script(scoped).
      $('html').attr('data-theme', localStorage.TTDARK
        ? localStorage.TTDARK === 'Y' ? 'dark' : 'light'
        : window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : $('html').attr('data-theme')
      )

    style(scoped)
      :stylus
        :root
          --h-article-width unquote('[##_var_article-width_##]' + 'px')
          --h-index-width unquote('[##_var_index-width_##]' + 'px')
          --h-guestbook-width unquote('[##_var_guestbook-width_##]' + 'px')
          --h-tagcloud-width unquote('[##_var_tagcloud-width_##]' + 'px')
          --h-gallery-item-height unquote('[##_var_gallery-item-height_##]' + 'px')
    style
      include:stylus @/styl/App.styl
      include:stylus @/styl/Theme/Dark/App.styl

  body(id='[##_body_id_##]' data-sidebar-default='<s_if_var_sidebar>true</s_if_var_sidebar><s_not_var_sidebar>false</s_not_var_sidebar>')
    block TIDORY

    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js')
    script(src='//cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js')
    script(src='//cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js')
    script(src='//kit.fontawesome.com/65f7e05682.js')
