extends app

block TIDORY
  include @/templates/TistoryLayer
  s_t3
    include views/Loader
    #__tidory
      include views/Sidebar
      include views/Navigation
      include views/Main
      include views/Footer
  include views/ScrollIndicator

  style
    include:stylus @/styl/Index.styl
