extends app

block TIDORY
  include views/Loader
  include views/ScrollIndicator
  s_t3
    #index(
      x-data='{ sidebar: false }'
      class='pl-0 break-all <s_if_var_sidebar>xl:pl-64</s_if_var_sidebar>')
      include views/Main
      include views/Sidebar
      include views/Top
      include views/Bottom
