extends app

//- class, id 이름을 체계화하면 좋음

block TIDORY
  if process.env.NODE_ENV === 'development'
    include views/TistoryToolbar
  s_if_var_loader
    include views/Loader
  s_t3
    #__tidory
      include views/Sidebar
      s_if_var_navbar
        include views/Navigation
      include views/Main
      include views/Footer

  style
    :stylus
      #__tidory
        min-width 320px
