extends app

block TIDORY
  include views/Loader
  include views/ScrollIndicator
  s_t3
    div(
      x-data='{ sidebar: false, sidebarDefault: skinOptions.sidebar }'
      :class='sidebarDefault && "xl:pl-64"'
      class='pl-0 break-all')
      include views/Top
      include views/Sidebar
      include views/Main
      include views/Bottom
