extends app

block TIDORY
  #container
    include views/Navigation
    include views/Main
    include views/Footer

  style
    :stylus
      #container
        margin-bottom 100px
        @media screen and (max-width: 1280px)
          margin-bottom 0
