extends app

block TIDORY
  style
    :stylus
      #app
        margin-bottom 30px
        *:not(i)
          font-family 'Noto Sans KR', sans-serif !important
          word-break break-all
        a
          pointer-events: initial !important
          color rgba(0, 0, 0, .5)
          text-decoration none
          &:hover
            transition-duration .5s
            color rgba(0, 0, 0, 1)
        ul
          list-style none
  #app
    include views/Navigation
    include views/Main
    include views/Footer
