extends app

block TIDORY
  include views/Loader
  s_t3
    div#__tidory
      include views/Navigation
      include views/Main
      include views/Footer

  style
    :stylus
      #__tidory
        min-width 320px
        margin-bottom 100px
        @media screen and (max-width: 1280px)
          margin-bottom 0
