extends app

block TIDORY
  include views/TistoryToolbar
  s_if_var_loader
    include views/Loader
  s_t3
    #__tidory(data-sidebar='<s_if_var_sidebar>true</s_if_var_sidebar><s_not_var_sidebar>false</s_not_var_sidebar>')
      include views/Sidebar
      s_if_var_navbar
        include views/Navigation
      include views/Main
      include views/Footer
  include views/ScrollIndicator

  style
    include:stylus @/styl/Index.styl
