extends app

block TIDORY
  include views/Loader
  s_t3
    #__tidory
      s_if_var_sidebar
        include views/Sidebar
      include views/Navigation
      include views/Main
      include views/Footer

  style
    :stylus
      #__tidory
        min-width 320px
