extends app

block TIDORY
  include views/TistoryToolbar
  s_if_var_loader
    include views/Loader
  s_t3
    #__tidory
      include views/Sidebar
      s_if_var_navbar
        include views/Navigation
      include views/Main
      include views/Footer
  include views/ScrollIndicator

  style
    include:stylus @/styl/Index.styl
