extends app

block TIDORY
  #container
    include views/Navigation
    include views/Main
    include views/Footer

  style
    :stylus
      @media screen and (min-width: 1280px)
        #container
          margin-bottom 100px
      @media screen and (max-width: 1280px)
        #container
          margin-bottom 50px
