.permalink__btn
  button.permalink__comment-btn(uk-toggle='.permalink__comment')
    i(class='fas fa-comment')
    | 댓글
  if process.env.NODE_ENV === 'development'
    button(type='button' class='btn_mark' role='report') 신고하기

    script.
      $(document).ready(() => {
        $('.permalink__btn button[role=report]').appendTo('#tistoryEtcLayer .bundle_post')
      })
