s_article_related
  .related
    strong '[##_article_rep_category_##]' 카테고리의 다른 글
    ul
      s_article_related_rep
        li
          a(href='[##_article_related_rep_link_##]')
            | [##_article_related_rep_title_##]
