if process.env.NODE_ENV === 'development'
  if process.env.IS_OWNER === 'false'
    button.btn_menu_toolbar.btn_subscription(type='button' class='#subscribe' data-blog-id='3751118' data-url='https://pronist.tistory.com/5' data-device='web_pc')
      em.txt_state 구독하기
      strong.txt_tool_id hELLO.
      span.img_common_tistory.ico_check_type1

    script.
      $(document).ready(() => {
        $('.content__permalink .btn_menu_toolbar.btn_subscription').appendTo('.content__permalink .container_postbtn')
      })
