FontAwesome(content = false, kind = 'Free')
  font-family 'Font Awesome 5 ' + kind
  if content
    content content
  else
    content ''

TextOverflowHidden()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
