@import '_*'
@import 'App/**/*'

*, *::before, *::after
  outline none
  word-break break-all

html, h1, h2, h3, h4, h5, :not(pre) > code, input, textarea
  font-family 'Jeju Gothic', 'Noto Sans KR', sans-serif

html
  color var(--h-color)
  background-color var(--h-color-background-level-1)
  body
    overflow-x hidden
  ins
    all unset
  ul, ol
    list-style none
    margin 0
    padding 0
  a
    color var(--h-color-blurrier)
    text-decoration none !important
    &:hover
      color var(--h-color)
      transition-duration .2s
  a, button
    pointer-events: initial !important

  #tt-body-page h2[data-ke-size], #tt-body-page h3[data-ke-size], #tt-body-page h4[data-ke-size]
    font-weight bold

  .tt_article_useless_p_margin p
    padding 0.5rem 2px !important
    margin 1px 0 !important

  #tt-body-page blockquote[data-ke-style='style1']
    background none !important
    text-align left
    border-left 4px solid #67bdfc !important
    padding 0 1rem !important
    font-size 1.1rem !important
    font-style italic !important
    font-family 'Jeju Gothic' !important

  :not(pre)>code
        color #f0506e !important
