@import '_*'
@import 'App/**/*'

*, *::before, *::after
  outline none
  word-break break-all

html, h1, h2, h3, h4, h5, :not(pre) > code, input, textarea
  font-family 'Noto Sans KR', sans-serif

html
  color var(--h-color)
  background-color var(--h-color-background-level-1)
  body
    overflow-x hidden
  ins
    all unset
  ul, ol
    list-style none
    margin 0
    padding 0
  a
    color var(--h-color-blurrier)
    text-decoration none !important
    &:hover
      color var(--h-color)
      transition-duration .2s
  a, button
    pointer-events: initial !important
