if process.env.NODE_ENV === 'development'
  include _Tistory/TistoryToolbar
  include _Tistory/TistoryTooltipLayer

script.
  // Copy TistoryToolbar to Sidebar
  $(document).ready(() => {
    $('.menu_toolbar > #menubar_wrapper > .header_layer').appendTo('#__sidebar > #sidebar__shadow > #sidebar__tistory')
  })

script.
  // Copy TistoryToolbar to Body
  $(document).ready(() => {
    $('.menu_toolbar > div[class=btn_tool]').appendTo('#__nav > #nav__s2')
    $('#__nav > #nav__s2 > div[class=btn_tool] > .btn_menu_toolbar.btn_subscription').append('<i class="fa fa-star"></i>')
  })

script.
  // Tistory Layer Tooltip
  $(document).ready(() => {
    h.Tistory.tooltip({
      Request: H.skinOptions.messageRequest,
      Unheart: H.skinOptions.messageUnheart,
      Heart: H.skinOptions.messageHeart,
      Unsubscribe: H.skinOptions.messageUnsubscribe,
      Subscribe: H.skinOptions.messageSubscribe,
      Url: H.skinOptions.messageUrl
    })
  })
