#bottom(
  :class='{ "xl:w-[calc(100%-theme(spacing.64))]": sidebarDefault }'
  class='flex justify-end px-4 w-full box-border fixed text-sm z-30 bottom-3 xl:bottom-4')
  div(class='flex gap-x-3')
    button(
      x-data='theme'
      @click='toggle')
      span(class='text-[0]') 테마
      i(class='fa-solid fa-moon text-base')
    a(href='#hELLO')
      span(class='text-[0]') 상단으로
      i(class='fa-solid fa-chevron-up text-base')

script.
  document.addEventListener('alpine:init', () => Alpine.data('theme', () => ({
    /**
     * Toggle Theme
     */
    toggle () {
      localStorage.TTDARK = document.documentElement.classList.contains('dark') ? 'N' : 'Y'
      document.documentElement.classList.toggle('dark')

      this.$data.dark = ! this.$data.dark
    },
  })))

style
  :postcss
    #bottom {
      a,
      button {
        @apply flex justify-center items-center w-10 h-10 outline-0 rounded-full bg-h-200 text-h-500 hover:bg-h-300 dark:bg-h-600 dark:text-h-200 dark:hover:bg-h-500;
      }
    }
