footer#footer(role="footer")
  .copyright
    small 스킨에 대한 저작권은 #[a(href="https://pronist.tistory.com" target="_blank") 정상우]에게 있습니다.

style
  :stylus
    @media screen and (min-width: 1280px)
      #footer
        width 100%
        position fixed
        bottom 25px
        .copyright
          float left
        .sns
          float right
    @media screen and (max-width: 1280px)
      #footer
        margin 0 auto
        margin-top 35px
        .copyright
          float initial
    #footer
      overflow hidden
      padding 0 25px
      box-sizing border-box
      text-align center
