footer#footer(role='footer' class='uk-navbar-container uk-navbar-transparent' uk-navbar)
  .uk-navbar-left
    small.copyright
      s_if_var_copyright
        | [##_var_copyright_##]
  .uk-navbar-right
    small.designed-by Designed By #[a(href='https://github.com/pronist' target='_blank') 정상우].
    a.top(href='#hELLO' uk-scroll): i(class='fas fa-angle-up')

style
  :stylus
    $copyright-color = alpha(black, .8)
    $a-size = 24px
    $a-font-size = 1rem
    $a-color = white

    #footer
      width 100%
      overflow hidden
      padding 0 20px
      box-sizing border-box
      position fixed
      bottom 15px
      *
        color $copyright-color
      .uk-navbar-left,
      .uk-navbar-right
        font-size .96em
        > a
            i
              width $a-size
              height $a-size
              line-height $a-size
              text-align center
              background-color black
              color $a-color !important
              border-radius 50%
              font-size $a-font-size
              transition-duration .2s
              display block
            &:active > i
              transform scale(.9)
      .uk-navbar-left
        text-align left
        line-height 1.3em
        transition-duration .1s
        .copyright
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          max-width calc(40vw)
      .uk-navbar-right
        .designed-by
          margin-right 8px
      @media screen and (max-width: 1200px)
        position initial
        margin-top 35px
        margin-bottom 25px
        text-align center
        padding 0 15px
