footer#__footer(class='uk-navbar-container uk-navbar-transparent' uk-navbar)
  div(class='uk-navbar-right')
    button.theme-btn
      | 테마 바꾸기
      i(aria-hidden='true' class='fa fa-moon')
    button.toTop(uk-scroll='target: #__hELLO')
      | 제일 위로
      i(class='fa fa-chevron-up')

script.
  /* Footer */
  $(document).ready(() => {
    $('#__footer .theme-btn').click(() => {
      // Switch Theme 'Light' <-> 'Dark'
      h.switchTheme(H.skinOptions.theme)
      // Highlight.js
      h.hljs(H.skinOptions.hljsLight, H.skinOptions.hljsDark)
    })
  })
