#indicator(
  @scroll.window='$store.indicator.indicate'
  class='fixed top-0 w-full z-30')
  .bar(
    :style='{ width: $store.indicator.scrolled + "%" }'
    class='w-0 h-0.5 rounded bg-h-800 dark:bg-h-200')

script.
  document.addEventListener('alpine:init', () => Alpine.store('indicator', {
    /**
     * Scrolled
     */
    scrolled: 0,

    /**
     * Scroll indicate
     */
    indicate () {
      const winScroll = document.body.scrollTop || document.documentElement.scrollTop
      const height = document.documentElement.scrollHeight - document.documentElement.clientHeight

      this.$store.indicator.scrolled = (winScroll / height) * 100
    }
  }))
