s_if_var_loader
  #loader
    div(class='la-line-scale uk-position-center')
      each _ in Array(5)
        div

script.
  // Loader out
  $(document).ready(() => $('#loader').fadeOut(500))

style
  :stylus
    $color = #fd9372
    $background-color = white

    #loader
      z-index 9999
      position fixed
      top 0
      width 100%
      height 100%
      background-color $background-color
      .la-line-scale
        color $color
