#__loader
  div(class='la-ball-clip-rotate uk-position-center')
    each _ in Array(1)
      div

script.
  // Loader Out
  $(window).on('load', () => {
    setTimeout(() => $('#__loader').fadeOut(500), 2)
  })
