#loader(
  x-show='loading'
  x-transition:enter='transition ease-out duration-300'
  x-transition:enter-start='opacity-0'
  x-transition:enter-end='opacity-100'
  x-transition:leave='transition ease-in duration-300'
  x-transition:leave-start='opacity-100'
  x-transition:leave-end='opacity-0'
  class='w-screen h-screen fixed top-0 left-0 z-50 flex items-center justify-center bg-h-100 dark:bg-h-800')
  div(class='rounded-full w-14 h-14 my-14 mx-auto text-base relative border-2 border-solid border-h-500/20 border-l-h-500 dark:border-h-100/20 dark:border-l-h-100 animate-loading')
