include @/templates/Comment
include @/templates/Post

main#main(role='main')
  #main__content
    include Main/Guestbook
    include Main/Post
    include Main/Notice
    include Main/TagCloud
    s_if_var_paging
      include Main/Paging
  #main__b
    s_if_var_infinite-scroll
      infinite-scroll(main='#main__content' context='.article' v-if=`
        '[##_body_id_##]' === 'tt-body-index' ||
        '[##_body_id_##]' === 'tt-body-category' ||
        '[##_body_id_##]' === 'tt-body-archive' ||
        '[##_body_id_##]' === 'tt-body-tag' ||
        '[##_body_id_##]' === 'tt-body-search'
      `)
    s_if_var_scrollspy
      scrollspy(context='.permalink' v-if=`
        '[##_body_id_##]' === 'tt-body-page'
      `)

style
  :stylus
    #tt-body-page
      .permalink
        width 670px
        margin 0 auto
        @media screen and (max-width: 670px)
          width 100%
    #tt-body-index,
    #tt-body-category,
    #tt-body-archive,
    #tt-body-tag,
    #tt-body-search
     .index
        width 550px
        margin 0 auto
        @media screen and (max-width: 550px)
          width 100%

style
  :stylus
    #main
      clear both
      padding 0 25px
      margin 0 auto
      margin-top 75px
      margin-bottom 100px
      min-height calc(100vh - 132px)
      box-sizing border-box
      @media screen and (max-width: 720px)
        padding 0 15px
        margin-top 35px
        margin-bottom 55px
        min-height calc(100vh - 122px)
