main#main(class='pb-12 lg:pb-16')
  include Main/Header
  include Main/Tag
  include Main/Notice
  include Main/Guestbook
  include Main/List
  include Main/Cover
  include Main/Entry
  include Main/Protected
  include Main/Page
  include Main/Paging
