include _mixins/Index

main#main(class='pb-14 lg:pb-18')
  include Main/Header
  include Main/Tag
  include Main/Notice
  include Main/Guestbook
  include Main/List
  include Main/Cover
  include Main/Post
  include Main/Protected
  include Main/Page
  include Main/Paging
