include @/templates/Comment
include @/templates/Post

main#__main(role='main')
  #main__content
    include Main/Guestbook
    include Main/Post
    include Main/Notice
    include Main/TagCloud
    s_if_var_paging
      include Main/Paging
  #main__b
    s_if_var_infinite-scroll
      infinite-scroll(main='#main__content' context='.article' v-if=`
        '[##_body_id_##]' === 'tt-body-index' ||
        '[##_body_id_##]' === 'tt-body-category' ||
        '[##_body_id_##]' === 'tt-body-archive' ||
        '[##_body_id_##]' === 'tt-body-tag' ||
        '[##_body_id_##]' === 'tt-body-search'
      `)
    s_if_var_scrollspy
      scrollspy(context='.content__permalink' v-if=`
        '[##_body_id_##]' === 'tt-body-page'
      `)
    s_if_var_switch-theme: theme-btn
    s_if_var_to-top: to-top

style
  :stylus
    #__main
      clear both
      padding 0 25px
      margin 0 auto
      padding-top 75px
      padding-bottom 100px
      box-sizing border-box
      @media screen and (max-width: 690px)
        padding 0 15px
        padding-top 25px
        padding-bottom 55px
        width 100% !important

style
  :stylus
    #tt-body-page,
    #tt-body-guestbook
      #__main
        width 640px + 50px

    #tt-body-index,
    #tt-body-category,
    #tt-body-archive,
    #tt-body-tag,
    #tt-body-search
     #__main
        width 550px + 50px
