include @/templates/Mixins/Comment
include @/templates/Mixins/Post

main#__main
  #main__content
    include Main/Cover
    include Main/Guestbook
    include Main/Post
    include Main/Notice
    include Main/TagCloud
    include Main/List
    s_if_var_paging
      include Main/Paging

  #__
    s_if_var_scrollspy
      include @/templates/Scrollspy
