include @/templates/Comment
include @/templates/Post

main#__main(role='main')
  #main__content
    include Main/Cover
    include Main/Guestbook
    include Main/Post
    include Main/Notice
    include Main/TagCloud
    include Main/List
    s_if_var_paging
      include Main/Paging
  #__widgets
    s_if_var_scrollspy
      include Main/Widgets/Scrollspy

style
  :stylus
    #__main
      clear both
      padding 0
      margin 0 auto
      padding-bottom 100px
      max-width 1100px
      min-width 320px
      @media screen and (max-width: 1200px)
        padding 0 15px
        padding-bottom 55px
        width 100% !important
        box-sizing border-box

style
  :stylus
    #tt-body-guestbook,
    #tt-body-tag
      padding-top 75px
      h1
        font-size 1.8rem
        text-align center
        margin-bottom 60px
        font-weight 600
        @media screen and (max-width: 1200px)
          font-size 1.5rem

style(scoped)
  :stylus
    #tt-body-page
      #__main
        width unquote('[##_var_article-width_##]' + 'px')

    #tt-body-index,
    #tt-body-category,
    #tt-body-archive,
    #tt-body-tag,
    #tt-body-search
      #__main
        width unquote('[##_var_index-width_##]' + 'px')
