include Main/Post/Permalink/Comment/Form
include Main/Post/Permalink/Comment/List
include Main/Post/Index
include Main/Post/Permalink

main#main(class='pb-14 lg:pb-18 relative')
  include Main/Cover
  include Main/Guestbook
  include Main/Post
  include Main/Notice
  include Main/TagCloud
  include Main/List
  include Main/Paging
