main#main(role='main')
  #top
    blogger(v-if=`
      '[##_body_id_##]' === 'tt-body-index' ||
      '[##_body_id_##]' === 'tt-body-category' ||
      '[##_body_id_##]' === 'tt-body-archive'
    `
      thumbnail='[##_image_##]'
      title='[##_title_##]'
      blogger='[##_blogger_##]'
      description='[##_desc_##]')
  include Main/Text
  #bottom
    scrollspy(context='.permalink' v-if=`
      '[##_body_id_##]' === 'tt-body-page'
    `)
    infinite-scroll(v-if=`
      '[##_body_id_##]' === 'tt-body-index' ||
      '[##_body_id_##]' === 'tt-body-category' ||
      '[##_body_id_##]' === 'tt-body-archive'
    `)

style
  :stylus
    $width = 720px

    #main
      clear both
      box-sizing border-box
      padding 0 25px
      margin 0 auto
      margin-top 70px
      margin-bottom 150px
      width $width
      min-height calc(100vh - 132px)
      @media screen and (max-width: 1200px)
        width 100%
        padding 0 15px
        margin-top 25px
        margin-bottom 55px
        min-height calc(100vh - 122px)
