main#main(role='main')
  include Main/Text
  include Main/Component

style
  :stylus
    $width = 720px

    #main
      clear both
      box-sizing border-box
      padding 0 25px
      margin 0 auto
      margin-top 100px
      margin-bottom 150px
      width $width
      min-height calc(100vh - 132px)
      @media screen and (max-width: 1200px)
        width 100%
        padding 0 15px
        margin-top 25px
        margin-bottom 55px
        min-height calc(100vh - 122px)
