include @/templates/Main/Comment
include @/templates/Main/Post

main#__main
  #main__content
    include Main/Cover
    include Main/Guestbook
    include Main/Post
    include Main/Notice
    include Main/TagCloud
    include Main/List
    include Main/Paging
