main#main(role='main')
  #main__t
    include Main/Blogger
  #main__content
    include Main/Post
  #main__b
    scrollspy(context='.permalink' v-if=`
      '[##_body_id_##]' === 'tt-body-page'
    `)
    infinite-scroll(v-if=`
      '[##_body_id_##]' === 'tt-body-index' ||
      '[##_body_id_##]' === 'tt-body-category' ||
      '[##_body_id_##]' === 'tt-body-tag' ||
      '[##_body_id_##]' === 'tt-body-archive'
    `)

style
  :stylus
    #main
      clear both
      box-sizing border-box
      padding 0 25px
      margin 0 auto
      margin-top 60px
      margin-bottom 150px
      min-height calc(100vh - 132px)
      @media screen and (max-width: 720px)
        padding 0 15px
        margin-top 25px
        margin-bottom 55px
        min-height calc(100vh - 122px)
      #main__t
        margin-bottom 60px
        @media screen and (max-width: 720px)
          display none
