include @/templates/Comment
include @/templates/Post

main#__main(role='main')
  #main__content
    include Main/Cover
    include Main/Guestbook
    include Main/Post
    include Main/Notice
    include Main/TagCloud
    s_if_var_paging
      include Main/Paging
  #main__b
    s_if_var_infinite-scroll
      infinite-scroll(main='#main__content' context='.article' v-if=`
        '[##_body_id_##]' === 'tt-body-index' ||
        '[##_body_id_##]' === 'tt-body-category' ||
        '[##_body_id_##]' === 'tt-body-archive' ||
        '[##_body_id_##]' === 'tt-body-tag' ||
        '[##_body_id_##]' === 'tt-body-search'
      `)
    s_if_var_scrollspy
      scrollspy(context='.content__permalink' v-if=`
        '[##_body_id_##]' === 'tt-body-page'
      `)
    s_if_var_to-top
      to-top
    s_if_var_switch-theme
      theme-btn

style
  :stylus
    #__main
      clear both
      padding 0
      margin 0 auto
      padding-top 75px
      padding-bottom 100px
      max-width 1100px
      min-width 320px
      @media screen and (max-width: 1200px)
        padding 0 15px
        padding-top 25px
        padding-bottom 55px
        width 100% !important
        box-sizing border-box

style(scoped)
  :stylus
    #tt-body-page
      #__main
        width unquote('[##_var_article-width_##]' + 'px')

    #tt-body-index,
    #tt-body-category,
    #tt-body-archive,
    #tt-body-tag,
    #tt-body-search
      #__main
        //- width unquote('[##_var_index-width_##]' + 'px')
        width 1100px
