include Main/Comment/Form
include Main/Comment/List
include Main/Post/Index
include Main/Post/Permalink

main#__main
  include Main/Cover
  include Main/Guestbook
  include Main/Post
  include Main/Notice
  include Main/TagCloud
  include Main/List
  include Main/Paging
