main#main(role="main")
  s_article_rep
    include Main/Index
    include Main/Permalink
  #app
    Scrollspy(v-if=`
      '[##_body_id_##]' === 'tt-body-page'
    `)
    Readmore(v-if=`
      '[##_body_id_##]' === 'tt-body-index' ||
      '[##_body_id_##]' === 'tt-body-category' ||
      '[##_body_id_##]' === 'tt-body-archive'
    `)

style
  :stylus
    #main
      clear both
      padding 0 25px
      box-sizing border-box
      margin 0 auto
    @media screen and (min-width: 600px)
      #main
        width 600px
        padding-top 100px
    @media screen and (max-width: 600px)
      #main
        width 100%
        padding-top 25px
