nav#__nav(class='uk-navbar-container uk-navbar-transparent' uk-navbar)
  .left(class='uk-navbar-left')
    img.profile.lazyload(data-src='[##_image_##]' data-sizes='auto' alt='[##_blogger_##]' width='40' height='40' uk-toggle='target: #__sidebar')
  .center(class='uk-navbar-center')
    h1.title [##_title_##]
  .right(class='uk-navbar-right')

script.
  /* Navigation */
  $(document).ready(() => {
    const $heading = $('.content__permalink > header > .heading > *:not(.metainfo)')

    if ($heading.length) {
      $('#__nav > .center')
        .empty()
        .append($heading.clone())
    }
  })
