nav#nav(role='navigation'
  class='uk-navbar-container uk-navbar-transparent'
  uk-sticky='animation: uk-animation-slide-top; cls-active: sticky; cls-inactive: uk-navbar-transparent; top: 300'
  uk-navbar
)
  #s1(class='uk-navbar-left')
    a(href='#' uk-toggle='target: #sidebar1')
      each _ in Array(3)
        div
  .metainfo(class='uk-navbar-center')
  #s2(class='uk-navbar-right')
    a(href='#' uk-toggle='target: #sidebar2')
      img.profile(src='[##_image_##]')
  include Navigation/Sidebar

script.
  const $footer = $('#footer')
  Array('#sidebar1', '#sidebar2').forEach((menubar, i) => {
    const $menubar = $(`#nav > #s${++i} > a`)
    UIkit.util.on(menubar, 'beforeshow', () => {
      $footer.css('display', 'none')
      $menubar.addClass('uk-animation-fade uk-animation-fast uk-animation-reverse')
    })
    UIkit.util.on(menubar, 'hidden', () => {
      $footer.css('display', 'flex')
      $menubar.removeClass()
    })
  })
script.
  const $metainfo = $('#nav > .metainfo')
  $('#post > header > *:not(.metainfo)').each((_, $h) => $metainfo.append($($h).clone()))

style
  :stylus
    $sticky-background = alpha(white, .8)
    $padding = 8px

    #nav
      width 100%
      box-sizing border-box
      margin-top 8px
      padding 0px 20px
      #s1 > a > div
        height 1px
        width 16px
        border-top 2px solid alpha(black, .6)
        &:nth-child(2)
          margin 3px 0
          width 12px
      &.sticky
        background-color $sticky-background
        backdrop-filter blur(2px)
        padding-top $padding
        padding-bottom $padding
        .metainfo
          display block
          line-height 1rem
          > *
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            max-width calc(80vw - 152px)
          .title, .category
            font-weight 500
          .title
            margin 0
          .category
            display inline-block
      .metainfo
        text-align center
        display none
        .title
          font-size .96rem
        .category
          font-size .8rem
      #s2 > a
        &:active > *
          transform scale(.96)
        img
          border-radius 50%
          transition-duration .2s
          width 40px
          height 40px
      @media screen and (max-width: 600px)
        padding 0px 15px
        #s1 > a > div
          width 12px
          &:nth-child(2)
            width 8px
        #metainfo
          line-height .9rem
          .title
            font-size .86rem
          .category
            font-size .7rem
        #s2 > a img
          width 30px
          height 30px
