nav#__nav(class='uk-navbar-container uk-navbar-transparent'
  uk-sticky='top: 280; animation: uk-animation-slide-top; cls-active: sticky; cls-inactive: uk-navbar-transparent;'
  uk-navbar)
  #nav__s1(class='uk-navbar-left')
    img.profile.lazyload(data-src='[##_image_##]' data-sizes='auto')
  #nav__metainfo(class='uk-navbar-center')
    h1.title [##_title_##]
  #nav__s2(class='uk-navbar-right')

script.
  // Copy metainfo to Navigation header
  $(document).ready(() => {
    const $h = $('.content__permalink > header > .heading > *:not(.metainfo)')
    const $metainfo = $('#__nav > #nav__metainfo')
    // Only for permalink
    if ($h.length) {
      $metainfo.empty()
      $h.each((_, $h) => $metainfo.append($($h).clone()))
    }
  })

script.
  // Sidebar Toogle
  $(document).ready(() => {
    const $sidebar = $('#__sidebar')
    const $m = $('#sidebar__mask')

    $('#__nav > #nav__s1 > .profile').on('click', () => { $sidebar.css('left', 0); $m.fadeIn(200) })
    $m.on('click', () => { $sidebar.css('left', '-250px'); $m.fadeOut(200) })
  })
