nav#__nav(role='navigation'
  class='uk-navbar-container uk-navbar-transparent'
  uk-sticky='animation: uk-animation-slide-top; cls-active: sticky; cls-inactive: uk-navbar-transparent; top: 300;'
  uk-navbar)
  #nav__s1(class='uk-navbar-left')
    img.profile(src='[##_image_##]')
  #nav__metainfo(class='uk-navbar-center')
    h1.title [##_title_##]
  #nav__s2(class='uk-navbar-right')
    include Navigation/Subscribe

script.
  /**
   * Copy metainfo to Navigation header
   */
  $(document).ready(() => {
    const $h = $('.content__permalink > header > *:not(.metainfo)')
    const $metainfo = $('#__nav > #nav__metainfo')
    // Only for permalink
    if ($h.length) {
      $metainfo.empty()
      $h.each((_, $h) => $metainfo.append($($h).clone()))
    }
  })

script.
  /**
   * Sidebar Toogle
   */
  $(document).ready(() => {
    const $sidebar = $('#__sidebar')
    const $sidebarMask = $('#sidebar__mask')

    $('#__nav > #nav__s1 > .profile').on('click', () => {
      $sidebar.css('left', 0)
      $sidebarMask.fadeIn(200)
    })
    $sidebarMask.on('click', () => {
      $sidebar.css('left', '-250px')
      $sidebarMask.fadeOut(200)
    })
  })

style
  :stylus
    $sticky-background = alpha(white, .8)
    $padding = 8px
    $profileSize = 40px

    #__nav
      width 100%
      box-sizing border-box
      padding 0px 20px
      padding-top 10px
      &.sticky
        background-color $sticky-background
        backdrop-filter blur(2px)
        padding-top $padding + 3px
        padding-bottom $padding
        #nav__metainfo
          display block
          line-height 1rem
          > *
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            max-width calc(80vw - 152px)
          .title, .category
            font-weight 500
          .title
            margin 0
          .category
            display inline-block
      #nav__metainfo
        text-align center
        display none
        .title
          font-size .92rem
        .category
          font-size .8rem
          margin-bottom 3px
      #nav__s1
        img
          border-radius 50%
          transition-duration .2s
          width $profileSize
          height $profileSize
          cursor pointer
      @media screen and (max-width: 1260px)
        padding 0 15px
        padding-top 10px
        #nav__s1
          img
            width $profileSize - 5px
            height $profileSize - 5px

style
  :stylus
    html[data-theme='dark']
      #__nav
        #nav__metainfo
          .title
            color white
        &.sticky
          background-color alpha(#1e1f21, .8)
