s_if_var_navbar
  nav#nav(role='navigation'
    class='uk-navbar-container uk-navbar-transparent'
    uk-sticky='animation: uk-animation-slide-top; cls-active: sticky; cls-inactive: uk-navbar-transparent; top: 300'
    uk-navbar)
    s_not_var_sidebar
      #s1(class='uk-navbar-left')
        a(href='[##_blog_link_##]')
          img.profile(src='[##_image_##]')
    .metainfo(class='uk-navbar-center')
      h1.title [##_title_##]

script.
  const bodyId = $('body').attr('id')

  if (bodyId === 'tt-body-page') {
    const $metainfo = $('#nav > .metainfo')

    // Metainfo initialize
    $metainfo.empty()
    $('.permalink > header > *:not(.metainfo)').each((_, $h) => $metainfo.append($($h).clone()))
  }

style
  :stylus
    $sticky-background = alpha(white, .8)
    $padding = 8px

    #nav
      width 100%
      box-sizing border-box
      padding 0px 20px
      padding-top 10px
      &.sticky
        background-color $sticky-background
        backdrop-filter blur(2px)
        padding-top $padding
        padding-bottom $padding
        .metainfo
          display block
          line-height 1rem
          > *
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            max-width calc(80vw - 152px)
          .title, .category
            font-weight 500
          .title
            margin 0
          .category
            display inline-block
      .metainfo
        text-align center
        display none
        .title
          font-size .96rem
        .category
          font-size .8rem
          margin-bottom 3px
      #s1 > a
        &:active > *
          transform scale(.96)
        img
          border-radius 50%
          transition-duration .2s
          width 40px
          height 40px
      @media screen and (max-width: 1200px)
        padding 0px 15px
