nav#__nav(class='uk-navbar-container uk-navbar-transparent'
  uk-sticky='top: 280; animation: uk-animation-slide-top; cls-active: sticky; cls-inactive: uk-navbar-transparent;'
  uk-navbar)
  #nav__s1(class='uk-navbar-left')
    img.profile.lazyload(data-src='[##_image_##]' data-sizes='auto' alt='[##_blogger_##]' width='40' height='40' uk-toggle="target: #__sidebar")
  #nav__metainfo(class='uk-navbar-center')
    h1.title [##_title_##]
  #nav__s2(class='uk-navbar-right')

script.
  /* Navigation */
  $(document).ready(() => {
    const $heading = $('.content__permalink > header > .heading > *:not(.metainfo)')

    $('#__nav > #nav__metainfo')
      .empty()
      .append($heading.clone())
  })
