#scroll-indicator
  .progress-container
    .progress-bar

script.
  /* Scoll Indicator */
  $(document).ready(() => {
    $(window).on('scroll', () => {
      h.Layout.scrollIndicator('#scroll-indicator .progress-bar')
    })
  })
