#scroll-indicator
  .progress-container
    .progress-bar

script.
  // Scoll Indicator
  $(document).ready(() => {
    $(window).on('scroll', () => {
      const winScroll = $(window).scrollTop()
      const height = $(document).outerHeight() - $(window).height()

      $('#scroll-indicator .progress-bar').css('width', (winScroll / height) * 100 + '%')
    })
  })
