#scroll-indicator(
  x-data='indicator'
  @scroll.window='indicate'
  class='fixed top-0 w-screen z-50')
  .bg(class='w-screen')
    .bg-bar(
      x-ref='indicator'
      class='w-0 h-0.5 bg-h-900 rounded bg-h-800 dark:bg-h-200')

script.
  document.addEventListener('alpine:init', () => Alpine.data('indicator', () => ({
     /**
      * Scroll indicate
      */
      indicate () {
        const winScroll = document.body.scrollTop || document.documentElement.scrollTop
        const height = document.documentElement.scrollHeight - document.documentElement.clientHeight
        const scrolled = (winScroll / height) * 100

        this.$refs.indicator.style.width = scrolled + '%'
      }
  })))
