#sidebar__mask
aside#__sidebar(role='sidebar')
  #sidebar__shadow
    s_sidebar
      s_sidebar_element
        <!-- 프로필 -->
        include Sidebar/Profile
      s_sidebar_element
        <!-- 방문자 수 -->
        include Sidebar/Counter
      s_sidebar_element
        <!-- 검색 -->
        include Sidebar/Search
      s_sidebar_element
        <!-- 티스토리 -->
        include Sidebar/TistoryToolbar
      s_sidebar_element
        <!-- 카테고리 -->
        include Sidebar/Category
      s_sidebar_element
        <!-- 블로그 메뉴 -->
        include Sidebar/BlogMenu
      s_sidebar_element
        <!-- 공지사항 -->
        include Sidebar/Notice
      s_sidebar_element
        <!-- 인기 글 -->
        include Sidebar/PopularPosts
      s_sidebar_element
        <!-- 태그 -->
        include Sidebar/Tags
      s_sidebar_element
        <!-- 최근 댓글 -->
        include Sidebar/RecentComments
      s_sidebar_element
        <!-- 최근 글 -->
        include Sidebar/RecentPosts

s_if_var_sidebar
  style(scoped)
    :stylus
      @media screen and (min-width: 1600px)
        #__sidebar
          left 0 !important
        #sidebar__mask
          display none !important

s_not_var_sidebar
  style(scoped)
    :stylus
      @media screen and (min-width: 1600px)
        #__sidebar
          left -250px
        #sidebar__mask
          display none

style
  :stylus
    #sidebar__mask
      position fixed
      width 100%
      height 100%
      background-color alpha(black, .7)
      z-index 9997
      @media screen and (max-width: 1600px)
        display none

style
  :stylus
    $background = #f4f4f4
    $width = 250px
    $padding = 25px 0
    $paddingLeft = 20px

    #__sidebar
      background $background
      position fixed
      top 0
      width $width
      height 100%
      overflow hidden
      z-index 9998
      transition-duration .2s
      transition-property left
      #sidebar__shadow
        overflow-x hidden
        overflow-y scroll
        height 100%
        width $width + 20px
        position absolute
        padding $padding
        box-sizing border-box
        z-index 9997
        > div, nav
          padding 15px 0
          padding-left $paddingLeft
          box-sizing border-box
          max-width $width
          ul li
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            max-width $width - 50px
        h2
          font-size .9rem
          font-weight 600
          color alpha(black, .8)
        #sidebar__blogmenu
          ul li
            padding 6px 0
        #sidebar__popular-posts,
        #sidebar__recent-posts,
        #sidebar__tags,
        #sidebar__recent-comments,
        #sidebar__notice
          ul li
            padding 4px 0 !important
        a
          font-size .9rem
          &:hover
            color black
        i
          margin-right 7px
          font-size .7rem
          color alpha(black, .5)
      @media screen and (max-width: 1600px)
        left -250px

style
  :stylus
    html[data-theme='dark']
      #__sidebar
        background-color #292a2d
        #sidebar__shadow
          h2
            color white
          ul li
            a
              color alpha(white, .8)
