#tistorySnsLayer, #tistoryEtcLayer
  display none
  background none
  box-shadow none
  position static
  padding 0 !important
  .bundle_post
    display flex
    .ico_sns, .ico_arrbt
      display none

#tt-body-page
  #__permalink_article
    #tistorySnsLayer
      display block !important
    #tistoryEtcLayer
      display inline-block
