#post
  header#header(role="header")
    a.category(href="[##_article_rep_category_link_##]") [##_article_rep_category_##]
    h1.title [##_article_rep_title_##]
  include Post/Meta
  article.content [##_article_rep_desc_##]
  include Post/PostBtn
  include Post/Category
  include Post/Tag

script.
  hljs.initHighlightingOnLoad()

style
  :stylus
    $font-awesome = 'Font Awesome 5 Pro'
    $base-color = #ed5207
    $base-color-grey = #f8f8f8

    $color = alpha(black, .8)
    $moreLess-color = white

    #post
      text-align center
      color $color
      div[data-ke-type=moreLess]
        position relative
        .moreless-content
          margin-top 25px
        a
          display inline-block
          border-radius 16px
          background-color $base-color
          padding 2px 14px
          color $moreLess-color !important
          font-size .85rem !important
          font-weight 600
          &::before
            font-family $font-awesome
            content ''
            margin-right 5px
            color $moreLess-color
        &.open
          a::before
            content ''
        &:hover
          transition-duration .5s
        &::before
          z-index -1
          content: ""
          position absolute
          top 15px
          left 0
          height 0
          width 100%
          border-bottom 1px dashed alpha(black, .1)
      .category
        font-weight 500
        font-size .95rem
        color $base-color !important
      .title
        margin-top 0
        margin-bottom 5px
        font-weight 600
        font-size 2rem
        line-height 1.5em
      .content
        text-align left
        margin-top 50px
        blockquote
          font-style initial
          margin-top 20px
          &[data-ke-style=style1]
            text-align: center
            font-size 1.1rem
            &::before
              content ''
              font-weight 600
              display block
              margin-bottom 3px
            p
              color black
          &[data-ke-style=style2]
            border solid #acacac
            border-width 0 0 0 2px
            padding 1px 0 0 12px
            color #666
            line-height 1.8em
            text-align left
            font-size .9rem
          &[data-ke-style=style3]
            font-size 1rem
            background none
        ul, ol
          padding-left 20px
          margin 20px 0
          li
            margin 6px 0
        ul li
          list-style circle
        table, td, th
          border none
          border-bottom 1px solid alpha(black, .1)
        table
          margin 20px 0
          td, th
            font-size .9rem
            padding 10px 12px
            box-sizing border-box
        h2, h3, h4
          font-weight 600
          line-height 1.8em
          margin-top 20px
          margin-bottom 10px
        h2
          font-size 1.5rem
        h3
          font-size 1.3rem
        h4
          font-size 1.1rem
        p, span
          line-height 1.8em
          letter-spacing .8px
          > code
            position relative
            top -1px
            color $base-color
            padding 2px 8px
            background $base-color-grey
            border-radius 5px
            white-space normal
        b, strong
          color $base-color
          font-size 1rem
          font-weight 500
        pre
          border none
          padding 0
          code
            background-color $base-color-grey
            border-radius 5px
            padding 15px
        img
          border-radius 5px
        a
          color $base-color
          text-decoration underline
      @media screen and (max-width: 600px)
        .title
          font-size 1.7rem
        .content
          h2
            font-size 1.3rem
          h3
            font-size 1.2rem
          h4
            font-size 1rem
          blockquote[data-ke-style=style1]::before
            font-size .85rem
