.comments
  .tt_more_preview_comments_wrap
    margin-top 20px !important
    background-color var(--h-button-color-hover-background)
    color var(--h-button-color-hover)
    display inline-block
    border-radius 25px
    font-size .85rem
    padding 8px 18px
    font-weight 500
    box-sizing border-box
    &::before
      all unset
    &::after
      FontAwesome('\f0ab')
      font-weight 600
      margin-left 10px
      font-size 1rem
    @media screen and (max-width: 1200px)
      display block
      width 100%
      margin-top 35px
