#__sidebar
  .blogmenu
    ul li
      padding 6px 0
  .popular-posts,
  .recent-posts,
  .tags,
  .recent-comments,
  .notice
    ul li
      padding 4px 0 !important
  a
    font-size .9rem
    &:hover
      color var(--h-color)
  i
    color var(--h-color-blurrier)
    margin-right 7px
    font-size .7rem
