#__sidebar
  #sidebar__blogmenu
    ul li
      padding 6px 0
  #sidebar__popular-posts,
  #sidebar__recent-posts,
  #sidebar__tags,
  #sidebar__recent-comments,
  #sidebar__notice
    ul li
      padding 4px 0 !important
  a
    font-size .9rem
    &:hover
      color alpha($THEME_COLOR_BLACK, .9)
  i
    color alpha($THEME_COLOR_BLACK, .5)
    margin-right 7px
    font-size .7rem
