#sidebar__mask
  display none

#sidebar__mask
  position fixed
  width 100%
  height 100%
  background-color alpha($THEME_COLOR_BLACK, .7)
  z-index 9997
  top 0
  right 0
  @media screen and (max-width: 1400px)
    display none

@media screen and (min-width: 1400px)
  #__tidory[data-sidebar='true']
    #sidebar__mask
      display none !important
