#__sidebar
  #sidebar__popular-posts, #sidebar__recent-posts
    li
      display flex
      justify-content space-between
      .metainfo
        TextOverflowHidden()
        .date
          color alpha($THEME_COLOR_BLACK, .5)
          font-size .76rem
          margin-top 3px
      .thumbnail
        height 45px
        width 60px
        min-width 60px
        object-fit cover
        margin-left 10px
        background-color white //- NT
