#__sidebar
  .category
    .tt_category
      .link_tit, .link_item, .link_sub_item
        img
          display none
      .link_tit
        color var(--h-color) !important
        font-size .9rem
        font-weight 600
        margin-bottom 14px
        display inline-block
      .c_cnt
        font-size .72rem
      .category_list
        li
          padding-top 12px
          margin-top 0 !important
          position relative
          &.uk-open
            .link_item
              .fa-chevron-down
                transform rotate(-0.5turn)
          .link_item
            padding-right 20px !important
            display block
            TextOverflowHidden()
            .fa-chevron-down
              transition-duration .2s
              font-size .82rem
              position absolute
              right 0
              line-height 1.8em
          .sub_category_list
            li
              &::before
                color var(--h-color-blurrier)
                font-weight 600
                margin-right 5px
                font-size .72rem
                FontAwesome('\f061')
