#__sidebar
  #sidebar__counter
    width 230px
    overflow hidden
    display flex
    justify-content space-between
    .cnt-item
      font-size .8rem
      .title
        color alpha($THEME_COLOR_BLACK, .5)
        font-weight 500
      .cnt
        color alpha($THEME_COLOR_BLACK, .7)
        font-size 1rem
        font-weight 600
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    .total
      .cnt
        max-width 90px
    .day
      display flex
      .cnt-item
        &:first-child
          margin-right 10px
      .cnt
        max-width 55px
