#__sidebar
  .profile
    text-align center
    padding-left 0 !important
    max-width 210px !important
    margin-left 20px
    img
      border-radius 50%
    .title > a
      color var(--h-color) !important
      display inline-block
      font-size 1.05rem !important
      margin-top 18px
      margin-bottom 3px
      font-weight 500
    .blogger
      color var(--h-color-blurrier)
      margin-bottom 15px
      font-size .88rem
