#__sidebar
  .profile
    text-align center
    background-color #ced4da
    padding 32.5px 0px !important
    height 280px
    img
      border-radius 20%
    .title > a
      color var(--h-color) !important
      display inline-block
      font-size 1.05rem !important
      margin-top 18px
      margin-bottom 3px
      font-weight 500
    .blogger
      color var(--h-color-blurrier)
      margin-bottom 15px
      font-size .88rem
    .github
      margin-bottom 15px
      svg
        fill #495057

