#__sidebar
  .search
    .uk-search
      background-color $THEME_BACKGROUND_COLOR_LEVEL2 !important
      font-size .8rem
      width 210px
      #search
        border none
      > label
        font-size 0 !important
