#__sidebar
  .search
    .uk-search
      background-color var(--h-color-background-level-3) !important
      font-size .8rem
      width 210px
      #search, .uk-search-icon
        border none
        color var(--h-color-blur)
      > label
        font-size 0 !important
