#__sidebar
  .tistory
    .header_layer
      position initial
      top unset
      bottom unset
      left unset
      right unset
      box-shadow none
      padding 0
      display block !important
      max-width 230px
      &::after
        display none
      a
        color var(--h-color-blur)
      .inner_header_layer
        background-color var(--h-color-background-level-2)
        *
          padding-left 0
          border none
        > .info_profile
          padding 0
          padding-top 6px
          .link_setting.link_setting_type2
            font-size .8rem
          .txt_email
            color var(--h-color-blur)
        > .wrap_list
          box-shadow none
          .tit_list_type
            padding-top 22px
            margin-bottom 10px
            font-size .8rem
            color var(--h-color)
        .list_toolbar
          max-width 200px
          margin-top 6px
          padding-top 3px
          > li
            padding-top 8px
            a
              color var(--h-color-blur)
              &:hover
                color var(--h-color)
        .info_profile_type1
          &:last-child
            margin-bottom 0px
