#category [##_category_list_##]

style
  :stylus
    #category
      .tt_category > li > a
        display none
      ul li > a::before
        content: ''
        font-family 'Font Awesome 5 Pro'
        font-weight 600
        margin-right 10px
