#search(class='uk-search')
  s_search
    span(uk-search-icon)
    input(class='uk-search-input'
      type='text'
      name='[##_search_name_##]'
      value='[##_search_text_##]'
      onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }')

style
  :stylus
    #search
      background-color rgba(0, 0, 0, .6)
      margin-top 0
      padding 10px 0
      .uk-search-icon
        padding-left 10px
        font-size .85rem
      .uk-search-input
        padding-left 40px
        padding-right 15px
        color white
        font-size .9rem
        background-color initial
