#comment-form.form
  s_rp_input_form
    textarea(name='[##_rp_input_comment_##]')
    #comment-form-control.form-control
      input#secret(type='checkbox' name='[##_rp_input_is_secret_##]')
      label(for='secret')
      a(href='#' onclick='[##_rp_onclick_submit_##]')
