mixin rp-comment()
  .rp(class!=attributes.class)
    .profile: img(src='[##_rp_rep_logo_##]')
    .description
      .action
        a.address(href='[##_rp_rep_link_##]')
          i(class='far fa-bookmark')
        a.modify(href='#' onclick='[##_rp_rep_onclick_delete_##]')
          i(class='far fa-trash-alt')
        if attributes.class === 'comment'
          a.write(href='#' onclick='[##_rp_rep_onclick_reply_##]')
            i(class='far fa-comment')
      p.body [##_rp_rep_desc_##]
      .metainfo
        span.name [##_rp_rep_name_##]
        span.date [##_rp_rep_date_##]

s_rp_container
  .comment-overlay(class='uk-position-cover uk-position-fixed')
  ul.comment-list
    s_rp_rep
      li(id='[##_rp_rep_id_##]' class='[##_rp_rep_class_##]')
        +rp-comment()(class='comment')
        s_rp2_container
          ul.re-comments
            s_rp2_rep
              li(id='[##_rp_rep_id_##]' class='[##_rp_rep_class_##]')
                +rp-comment()(class='re-comment')
