.author
  .img
    img.profile(src='[##_image_##]')
  .description
    .user
      | [##_blogger_##]
    .desc [##_desc_##]

style
  :stylus
    .permalink
      > .author
        overflow hidden
        border-top 1px solid alpha(black, .1)
        margin-top 30px
        padding 30px 0
        .img
          float left
          .profile
            width 80px
            height 80px
            border-radius 50%
        .description
          margin-left 18px + 80px
          .user
            color alpha(black, .8)
            margin-bottom 5px
          .desc
            line-height 1.8em
            font-size .9rem
            color alpha(black, .5)
            display -webkit-box
            display -ms-flexbox
            display box
            -webkit-box-orient vertical
            -webkit-line-clamp 2
            overflow hidden
            max-height 50px
            vertical-align top
            word-break break-all

style
  :stylus
    html[data-theme='dark']
      .permalink
        > .author
          border-top 1px solid alpha(white, .8)
          .description
            *
              color white
