if process.env.NODE_ENV === 'development'
  if process.env.IS_OWNER === 'false'
    button.btn_menu_toolbar.btn_subscription(type='button' class='#subscribe' data-blog-id='3751118' data-url='https://pronist.tistory.com/5' data-device='web_pc')
      em.txt_state 구독하기
      strong.txt_tool_id hELLO.
      span.img_common_tistory.ico_check_type1
    script.
      $('.content__permalink .btn_menu_toolbar.btn_subscription').appendTo('.content__permalink .container_postbtn')

style
  :stylus
    $base-color = #ed5207
    $base-color-grey = #f8f8f8

    $postbtn-color = alpha(black, .5)
    $postbtn-btn-subscription-color-hover = white
    $height = 32px

    .content__permalink
      .container_postbtn
        padding 0
        margin-top 50px
        margin-bottom 5px
        > *:not(.postbtn_ccl)
          border none
          background-color $base-color-grey
          margin 0
          margin-right 10px
        .postbtn_like
          color $postbtn-color
          display inline-block
          font-size .80rem
          border-radius 26px
          padding 1px 9px
        .btn_subscription
          transition-duration .2s
          width initial !important
          padding 0 14px
          height $height
          line-height $height - 2
          box-sizing border-box
          margin-left 0 !important
          .txt_state
            color $postbtn-color
            font-weight 500
            &::before
              font-family 'Font Awesome 5 Pro'
              content '\f005'
              margin-right 5px
          &:hover
            background-color $base-color
            .txt_state
              color $postbtn-btn-subscription-color-hover

style
  :stylus
    html[data-theme='dark']
      .content__permalink
        .container_postbtn
          > *:not(.postbtn_ccl)
            background-color #292a2d
          .btn_subscription
            .txt_state
              color white
            &:hover
              background-color white
              .txt_state
                color black !important
        .ico_postbtn
          filter brightness(0) invert(1);
      #tistoryEtcLayer, #tistorySnsLayer
        background-color #353638
        *
          color white
        .ico_postbtn.ico_arrbt
          filter invert(50%)
        .btn_mark
          &:hover
            background-color #53575c
