.btn_tool
  button.btn_menu_toolbar.btn_subscription(class='#subscribe' data-device='web_pc' data-blog-id='3751118' data-url='https://pronist.tistory.com')
    strong.txt_tool_id hELLO.
    em.txt_state 구독하기
    span.img_common_tistory.ico_check_type1
