if process.env.NODE_ENV === 'development'
  .btn_tool
    button.btn_menu_toolbar.btn_subscription(class='#subscribe' data-device='web_pc' data-blog-id='3751118' data-url='https://pronist.tistory.com')
      strong.txt_tool_id hELLO.
      em.txt_state 구독하기
      span.img_common_tistory.ico_check_type1

script.
  // Copy TistoryToolbar to Body
  $(document).ready(() => {
    $('.menu_toolbar > div[class=btn_tool]').appendTo('#__nav > #nav__s2')
    $('#__nav > #nav__s2 > div[class=btn_tool] > .btn_menu_toolbar.btn_subscription').append('<i class="fa fa-star"></i>')
  })
