.notice.index
  s_notice_rep_thumbnail
    img.thumbnail(src='[##_notice_rep_thumbnail_url_##]')
  .category: a(href='/notice') 공지사항
  h1.title: a(href='[##_notice_rep_link_##]') [##_notice_rep_title_##]
  p.summary [##_notice_rep_summary_##]
  time.date
    | →
    span [##_notice_rep_date_##]
