html[data-theme='dark']
  .content__permalink
    .permalink__related
      background-color $THEME_BACKGROUND_COLOR_LEVEL3
      strong
        border-bottom-color $THEME_COLOR_WHITE !important
      strong, a
        color $THEME_COLOR_WHITE !important
