html[data-theme='dark']
  #__spy
    .__
      ul
        border-color alpha($THEME_COLOR_WHITE, .5)
        li
          a
            color alpha($THEME_COLOR_WHITE, .8)
          &.uk-active
            a
              color $THEME_COLOR_WHITE
