html[data-theme='dark']
  #__spy
    #spy__shadow
      ul
        border-color alpha($THEME_COLOR_WHITE, .5)
        li
          a
            color alpha($THEME_COLOR_WHITE, .8)
          &.uk-active
            color $THEME_COLOR_WHITE
