html[data-theme='dark']
  .permalink
    .tags
      a
        background-color $THEME_BACKGROUND_COLOR_LEVEL3
        color alpha($THEME_COLOR_WHITE, .9)
        &:hover
          background-color $THEME_BACKGROUND_COLOR_LEVEL4
