#counter
  .total
    | 전체 방문자
    .cnt [##_count_total_##]
  .days
    .today
      | 오늘
      .cnt [##_count_today_##]
    .yesterday
      | 어제
      .cnt [##_count_yesterday_##]
style
  :stylus
    $color = black
    $background-color = white
    $padding = 15px 25px

    #counter
      overflow hidden
      background-color $background-color
      padding $padding
      font-size .75rem
      box-sizing border-box
      border-radius 5px
      display flex
      align-items center
      div
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
      .cnt
        color $color
        font-weight 600
      .total
        margin-right auto
        max-width 75px
        .cnt
          font-size 1.3rem
      .days
        margin-left auto
        text-align right
        > div
          float left
          margin-left 12px
          max-width 50px
        .cnt
          font-size 1.1rem
