style
  :stylus
    .menu_toolbar
      z-index -1 !important
style
  :stylus
    $btn-subscription-color = alpha(black, .7)
    $width = 250px
    $font-awesome = @block {
      font-family 'Font Awesome 5 Pro'
      font-weight 600
      margin-right 10px
    }

    icons($icons, $offset = 0)
      if length($icons) > 1
        for $icon, $idx in $icons
          li:nth-child({$idx + $offset}) a::before
            content $icon
      else
        content $icons

    #sidebar2 .menu_toolbar
      all initial !important
      > div
        margin-bottom 20px !important
      .btn_tool:not(.btn_tool_type1)
        margin-right 0 !important
        position initial
        .btn_subscription
          width $width
          height initial
          box-sizing border-box
          display block
          padding 15px
          border-radius 5px
          text-align left
          box-shadow none
          .txt_state
            font-size .9rem
            color $btn-subscription-color
            &::before
              {$font-awesome}
              icons('')
          .txt_tool_id
            display none
      #menubar_wrapper
        position initial
        .btn_menu_type2
          display none !important
        .header_layer
          position relative
          top 0
          left 0
          width $width
          display block !important
          height initial !important
          &::after
            background none
          .inner_header_layer
            .list_toolbar
              padding 0 !important
              li
                a
                  height initial !important
                  padding 15px 25px !important
                  &::before
                    {$font-awesome}
                &:nth-child(1) a::before
                  icons('')
                &:last-child
                  a
                    font-size .9rem !important
            > .list_toolbar
              icons('' '' '', 2)
          .wrap_toolbar
            > .list_toolbar
              icons('' '', 2)
