s_tag_label: #tags [##_tag_label_rep_##]

script.
  $('#tags').contents().filter(function () {
    return this.nodeType === 3
  }).remove()

style
  :stylus
    $background = #f8f8f8
    $background-hover = #ed5207
    $color = alpha(black, .5)
    $color-hover = white

    #tags
      text-align left
      margin-bottom 15px
      a
        margin-top 10px
        margin-right 10px
        background $background
        color $color
        display inline-block
        font-size .80rem
        border-radius 26px
        padding 8px 14px
        transition-duration .2s
        &:hover
          background-color $background-hover
          color $color-hover
