#app
  Scrollspy(v-if=`
    '[##_body_id_##]' === 'tt-body-page'
  `)
  //- Readmore(v-if=`
  //-   '[##_body_id_##]' === 'tt-body-search' ||
  //-   '[##_body_id_##]' === 'tt-body-category' ||
  //-   '[##_body_id_##]' === 'tt-body-archive'
  //- `)
