#text
  include Text/Guestbook
  include Text/Article

//- Guestbook, Article/Post/Permalink
script.
  const $l = $('#comment, #guestbook')
  $l.on('click', '.rp .body', e => {
    const $t = $(e.target)
    $t.prev().fadeIn(200)
    $t.parents('.rp').css('zIndex', 9999)
    $l.find('.comment-overlay').fadeIn(200)
  })
  Array('.comment-overlay', '.rp .action').forEach(t => $l.on('click', t, e => {
    const $rp = $('.rp')
    Array($l.find('.comment-overlay'), $rp.find('.action')).forEach($h => $h.fadeOut(200))
    setTimeout(() => $rp.css('zIndex', 1), 200)
  }))

//- Guestbook, Article/Post/Permalink
style
  :stylus
    $background = #f8f8f8
    $icons = {
      'a::before': '\f4ad',
      'input[type=checkbox]:checked + label::before': '\f023'
      'label::before': '\f09c'
    }

    #text
      .form
        overflow hidden
        background $background
        margin-top 25px
        border-radius 16px
        box-sizing border-box
        height 200px
        padding 25px
        textarea
          border none
          outline none
          background none
          resize none
          width 500px
          max-width 500px
          height 120px
        @media screen and (max-width: 600px)
          height 125px
          padding 15px
          textarea
            width 100%
            max-width 100%
            height 60px
        .form-control
          float right
          > *
            margin-left 12px
          input[type=checkbox]
            display none
          for $k, $i in $icons
            {$k}
              font-family 'Font Awesome 5 Pro'
              font-weight 600
              content $i
//- Guestbook, Article/Post/Permalink
style
  :stylus
    #text
      .comment-overlay
        z-index 9998
        display none
        background-color alpha(white, .95)
        backdrop-filter blur(2px)
      .comment-list
        padding-top 35px
        min-width 270px
        overflow hidden
        clear both
        display flex
        flex-direction column-reverse
        .tt_more_preview_comments_wrap
          font-weight 500
          color black !important
          margin-top 15px
          &::after
            font-family 'Font Awesome 5 Pro'
            font-weight 600
            content '\f0ab'
            margin-left 8px
        li
          clear both
          .rp
            margin-bottom 35px
            position relative
            z-index 1
            transition none
            @media screen and (min-width: 600px)
                max-width 80%
            .profile
              position absolute
              bottom 0
              img
                border-radius 50%
                width 40px
                height 40px
            .description
              .action
                display none
                position absolute
                top -35px
                margin-bottom 10px
                > *
                  font-size 1.1rem
                  color black
              .body
                margin-top 0
                margin-bottom 0
                cursor pointer
                display inline-block
                border-radius 26px
                font-weight 500
                letter-spacing .8px
                padding 12px 20px
                font-size .9rem
                line-height 1.8em
              .metainfo
                font-size .77rem
                margin-top 8px
                .name
                  display inline-block
                .date
                  color alpha(black, .5)

    comment($align, $margin, $background, $color)
      .profile
        {$align} 0
        margin-{$margin} 12px
      .description
        padding-{$align} 50px
        .action
          {$align} 50px
          > *
            display inline-block
            margin-{$margin} 15px
        .body
          background $background
          color $color
        .metainfo > *
          margin-{$margin} 5px

    #text
      .comment
        comment('left', 'right', #f8f8f8, alpha(black, .7))
      .re-comment
        text-align right
        float right
        comment('right', 'left', alpha(black, 9), white)
        .description > .body
          text-align left
