mixin index()
  s_cover_item_article_info
    .cover.index(class=`${attributes.class}-item`)
      s_cover_item_thumbnail
        img.thumbnail(src='[##_cover_item_thumbnail_##]')
      .category: a(href='[##_cover_item_category_url_##]') [##_cover_item_category_##]
      h1.title: a(href='[##_cover_item_url_##]') [##_cover_item_title_##]
      p.summary [##_cover_item_summary_##]
      if attributes.class !== 'masonry'
        time.date
          | →
          span [##_cover_item_date_##]

s_cover_group
  #cover
    s_cover_rep
      include Cover/ImageSlider
      include Cover/List
      include Cover/Masonry
