.rp.comment(class="[##_rp_rep_class_##]")
  .profile: img(src="[##_rp_rep_logo_##]")
  .description
    .action
      a.address(href="[##_rp_rep_link_##]")
        i(class="far fa-bookmark")
      a.modify(href="#" onclick="[##_rp_rep_onclick_delete_##]")
        i(class="far fa-trash-alt")
      a.write(href="#" onclick="[##_rp_rep_onclick_reply_##]")
        i(class="far fa-comment")
    p.body [##_rp_rep_desc_##]
    .metainfo
      span.name [##_rp_rep_name_##]
      span.date [##_rp_rep_date_##]

style
  :stylus
    #comments
      .comment
        .profile
          left 0
          margin-right 12px
        .action
          left 50px
          > *
            display inline-block
            margin-right 15px
            font-size 1.05rem
        .description
          padding-left 50px
          .body
            background #f8f8f8
            color rgba(0, 0, 0, .7)
          .metainfo > *
            margin-right 5px
