.rp.re-comment(class="[##_rp_rep_class_##]")
  .profile: img(src="[##_rp_rep_logo_##]")
  .description
    .action
      a.address(href="[##_rp_rep_link_##]")
        i(class="far fa-bookmark")
      a.modify(href="#" onclick="[##_rp_rep_onclick_delete_##]")
        i(class="far fa-trash-alt")
    p.body [##_rp_rep_desc_##]
    .metainfo
      span.date [##_rp_rep_date_##]
      span.name [##_rp_rep_name_##]
style
  :stylus
    .re-comments
      list-style none
      padding 0
      margin 0
      clear both
      .re-comment
        float right
        text-align right
        .profile
          right 0
          margin-left 12px
        .action
          right 50px
          > *
            margin-left 15px
        .description
          padding-right 50px
          .body
            background rgba(0, 0, 0, .9)
            color white
          .metainfo > *
            margin-left 5px


