#post.permalink
  header#header(role='header')
    a.category(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
    h1.title [##_article_rep_title_##]
    .metainfo
      span.date [##_article_rep_date_##]
      include Post/Admin
  article.content [##_article_rep_desc_##]
  include Post/PostBtn
  include Post/Category
  include Post/Tag
