$THEME_BACKGROUND_COLOR_LEVEL1 = #1e1f21 // Background, Sidebar/Search ...
$THEME_BACKGROUND_COLOR_LEVEL2 = #292a2d // Sidebar, Post, Comment,  ...
$THEME_BACKGROUND_COLOR_LEVEL3 = #353638 // TagCloud, Post/Button, Post/Related, Post/Notification ...
$THEME_BACKGROUND_COLOR_LEVEL4 = #53575c // Post/Button:Hover, TagCloud:Hover ...

$THEME_COLOR_WHITE = white
$THEME_COLOR_BLACK = black
