mixin permalink(pageType, type, hasCategory = true)
  #{`s_${pageType}_rep`}
    div(id=`__${pageType}`)
      include Permalink/Post
      if hasCategory
        include Permalink/Comment
        s_if_var_notify
          include Permalink/Notification

script.
  // Set Styled Heading
  $(document).ready(() => h.Post.Mode.setStyledHeading('.content__permalink', H.skinOptions.articleMode, {
    controllable: true,
    modeHansControlElement: '.content__permalink > .content div.h[data-mode]'
  }))

script.
  // Comment
  $(document).ready(() => {
    const $comment = $('.permalink__comment')

    if (H.skinOptions.comment) {
      return $comment.attr({'aria-hidden': false })
    }
    $comment.attr({'aria-hidden': true, 'hidden': ''})
  })

script.
  // Post
  $(document).ready(() => {
    // Media contents alignment
    h.Post.Permalink.alignImageCenter({
      imageSlideBlock: true,
      imageBlock: true,
      imageGridBlock: true
    })
    // Add 'a' tag into headings
    h.Post.Permalink.headings(
      '.content__permalink .content, .content__permalink .content > .tt_article_useless_p_margin',
      '> h2, > h3, > h4'
    )

    // Code Highlighting
    hljs.initHighlighting(); h.Theme.hljs()
  })

script.
  // Tags
  $(document).ready(() => {
    $('.permalink__tags').contents().filter(function () { return this.nodeType === 3 }).remove()
  })

script.
  // PostBtn
  $(document).ready(() => {
    // Trgger 'click' event for TistoryEtcLayer Display
    $('.container_postbtn .wrap_btn_etc > button').trigger('click')
  })

script.
  // TistoryLayer
  $(document).ready(() => {
    const $tistoryLayer = $('#tistoryEtcLayer, #tistorySnsLayer')

    // Remove button texts
    $tistoryLayer.find('.btn_mark').empty()
    // Move into
    $tistoryLayer.appendTo('.content__permalink .permalink__btn')
  })

script.
  // TistorySnsLayer
  $(document).ready(() => {
    const $tistorySnsLayerBtns = $('#tistorySnsLayer > .bundle_post > a')

    $tistorySnsLayerBtns.click(() => {
      // Trigger 'click' event for correct running share buttons
      $('.container_postbtn .postbtn_like > .wrap_btn_share > button.btn_share').trigger('click')
    })
  })
