#guest-form.form
  s_guest_input_form
    textarea(name='[##_guest_textarea_body_##]')
    #guest-form-control.form-control
      input#secret(type='checkbox' name='[##_guest_input_is_secret_##]')
      label(for='secret')
      a(href='#' onclick='[##_guest_onclick_submit_##]')
