#notice.permalink
  header#header(role='header')
    a.category(href='/notice') 공지사항
    h1.title [##_notice_rep_title_##]
    .metainfo
      span.date [##_notice_rep_date_##]
  article.content [##_notice_rep_desc_##]
