$IMG_SIZE = 48px
$IMG_PADDING-LEFT = 15px

.content__list
  padding-top 35px
  li
    > div
      position relative
      &::before
        background-color alpha($THEME_COLOR_BLACK, .1)
        content ''
        position absolute
        width 1px
        height calc(100% - 50px)
        left ($IMG_SIZE / 2)
        top 60px
        z-index 1
  > ol
    display flex
    flex-direction column-reverse
    > li
      padding 20px 0
      margin 0 !important
      border-bottom 1px dotted alpha($THEME_COLOR_BLACK, .2)
      &:last-child
        padding-top 0
      .header
        overflow hidden
        .user
          display flex
          flex-direction row
          overflow hidden
          .pic
            margin-right $IMG_PADDING-LEFT
            img
              border-radius 50%
              width $IMG_SIZE
              height $IMG_SIZE
              min-height $IMG_SIZE
              min-width $IMG_SIZE
              position relative
              z-index 2
          .metainfo
            .name
              color alpha($THEME_COLOR_BLACK, .9)
              font-size .96rem
              font-weight 600
              a
                color alpha($THEME_COLOR_BLACK, .9)
              .tistoryProfileLayerTrigger
                display none
            .date
              font-size .8rem
              &, > a
                color alpha($THEME_COLOR_BLACK, .3)
      .control
        padding-left $IMG_SIZE + $IMG_PADDING-LEFT
        margin 10px 0
        a
          display inline-block
          margin-right 5px
          font-size .8rem
      .body
        color alpha($THEME_COLOR_BLACK, .7)
        padding-top 15px
        padding-bottom 5px
        padding-left $IMG_SIZE + $IMG_PADDING-LEFT
        line-height 1.8em
        font-size .92rem
      > ol
          > li
            padding-top 10px
            &:last-child
              > div
                &::before
                  display none
