$COMMENT_IMG_SIZE = 48px
$COMMENT_IMG_PADDING-LEFT = 15px

.comments
  padding-top 35px
  li
    > div
      position relative
      &::before
        background-color var(--h-color-blurriest)
        content ''
        position absolute
        width 1px
        height calc(100% - 50px)
        left ($COMMENT_IMG_SIZE / 2)
        top 60px
        z-index 1
  > ol
    display flex
    flex-direction column-reverse
    > li:not(.tt_more_preview_comments_wrap)
      border-bottom 1px dotted var(--h-color-blurriest)
    > li
      padding 20px 0
      margin 0 !important
      &:last-child
        padding-top 0
      .header
        overflow hidden
        .user
          display flex
          flex-direction row
          overflow hidden
          .pic
            margin-right $COMMENT_IMG_PADDING-LEFT
            img
              border-radius 50%
              width $COMMENT_IMG_SIZE
              height $COMMENT_IMG_SIZE
              min-height $COMMENT_IMG_SIZE
              min-width $COMMENT_IMG_SIZE
              position relative
          .metainfo
            .name
              color var(--h-color)
              font-size .96rem
              font-weight 600
              a
                color var(--h-color)
              .tistoryProfileLayerTrigger
                display none
            .date
              font-size .8rem
              &, > a
                color var(--h-color-blurrier)
      .control
        padding-left $COMMENT_IMG_SIZE + $COMMENT_IMG_PADDING-LEFT
        margin 10px 0
        a
          display inline-block
          margin-right 5px
          font-size .8rem
      .body
        color var(--h-color-blur)
        padding-top 15px
        padding-bottom 5px
        padding-left $COMMENT_IMG_SIZE + $COMMENT_IMG_PADDING-LEFT
        line-height 1.8em
        font-size .92rem
      > ol
          > li
            padding-top 10px
            &:last-child
              > div
                &::before
                  display none
