html[data-theme='dark']
  #__nav
    #nav__s2
      div[class=btn_tool]
        .btn_menu_toolbar.btn_subscription
          border $THEME_BACKGROUND_COLOR_LEVEL3
          background-color $THEME_BACKGROUND_COLOR_LEVEL3
          color alpha($THEME_COLOR_WHITE, .9)
          box-shadow none
          &:hover
            background-color $THEME_BACKGROUND_COLOR_LEVEL4
