html[data-theme='dark']
  .item
    .title a, .summary
      color $THEME_COLOR_WHITE !important
    .category a
      color alpha($THEME_COLOR_WHITE, .9) !important
    .date
      color alpha($THEME_COLOR_WHITE, .8)
