html[data-theme='dark']
  #__tags
    h1
      color $THEME_COLOR_WHITE
    ul li a
      background $THEME_BACKGROUND_COLOR_LEVEL3
      color $THEME_COLOR_WHITE
      &:hover
        background-color $THEME_BACKGROUND_COLOR_LEVEL4
