.post.permalink
  header#header(role='header')
    a.category(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
    h1.title [##_article_rep_title_##]
    include Post/Metainfo
  article.content [##_article_rep_desc_##]
  include Post/PostBtn
  include Post/Category
  include Post/Tag

script.
  hljs.initHighlightingOnLoad()

  $('figure.imageblock.alignCenter').each(function () {
    $originWidth = $(this).data('origin-width')
    $originWidth = $originWidth > 1100 ? 1100 : $originWidth
    $(this).css({
      'width': $originWidth,
      'margin-left': (550 - $originWidth)/2 + 'px'
    })
  })

style
  :stylus
    $font-awesome = 'Font Awesome 5 Pro'
    $base-color = #ed5207
    $base-color-grey = #f8f8f8

    $color = alpha(black, .8)
    $moreLess-color = white

    #text
      .permalink
        color $color
        #header
          .category
            font-weight 500
            color $base-color !important
          .title
            margin-top 0
            margin-bottom 5px
            font-weight 600
            font-size 1.9rem
            line-height 1.5em
        .content
          text-align left
          margin-top 35px
          figure[data-ke-type='opengraph'],
          div[data-ke-type=moreLess],
          blockquote, ul, ol, table,
          h2, h3, h4
            margin 20px 0
          p
            margin 0 !important
          figure[data-ke-type='opengraph']
            margin-top 10px !important
          div[data-ke-type=moreLess]
            position relative
            .moreless-content
              margin-top 25px
            > .btn-toggle-moreless
              display inline-block
              border-radius 16px
              background-color black
              padding 2px 14px
              color $moreLess-color !important
              font-size .85rem !important
              font-weight 600
              &::before
                font-family $font-awesome
                content '\f0a9'
                margin-right 5px
                color $moreLess-color
            &.open
              > .btn-toggle-moreless::before
                  content '\f0ab'
            &::before
              z-index -1
              content ''
              position absolute
              top 15px
              left 0
              height 0
              width 100%
              border-bottom 1px dashed alpha(black, .1)
          blockquote
            font-style initial
            &[data-ke-style=style1]
              text-align: center
              font-size 1.1rem
              &::before
                font-family $font-awesome
                content '\f10e'
                font-weight 600
                display block
                margin-bottom 3px
              p
                color black
            &[data-ke-style=style2]
              border solid #acacac
              border-width 0 0 0 2px
              padding 1px 0 0 12px
              color #666
              line-height 1.8em
              text-align left
              font-size .9rem
            &[data-ke-style=style3]
              font-size 1rem
              background none
          ul, ol
            padding-left 20px
            li
              margin 6px 0
          ul li
            list-style circle
            line-height 1.8em
          table, td, th
            border none
            border-bottom 1px solid alpha(black, .1)
          table
            td, th
              font-size .9rem
              padding 16px 12px
              box-sizing border-box
          h2, h3, h4
            font-weight 600
            line-height 1.8em
          h2
            font-size 1.5rem
          h3
            font-size 1.3rem
          h4
            font-size 1.1rem
          p, span
            line-height 1.8em
            letter-spacing .8px
            > code
              position relative
              top -1px
              color $base-color
              padding 2px 8px
              background $base-color-grey
              border-radius 5px
              white-space normal
          b, strong
            color $base-color
            font-size 1rem
            font-weight 500
          pre
            border none
            padding 0
            code
              background-color $base-color-grey
              border-radius 5px
              padding 15px
          img
            border-radius 5px
          a
            color $base-color
            text-decoration underline
        @media screen and (max-width: 1200px)
          #header
            .title
              font-size 1.7rem
          .content
            h2
              font-size 1.3rem
            h3
              font-size 1.2rem
            h4
              font-size 1rem
            blockquote[data-ke-style=style1]::before
              font-size .85rem
