html[data-theme='dark']
  .permalink
    .container_postbtn
      a, button
        border-color $THEME_BACKGROUND_COLOR_LEVEL3 !important
        background-color $THEME_BACKGROUND_COLOR_LEVEL3 !important
        &:hover
          border-color $THEME_BACKGROUND_COLOR_LEVEL4 !important
          background-color $THEME_BACKGROUND_COLOR_LEVEL4 !important
      .postbtn_like
        .wrap_btn
          &:not([id^=reaction-])
            button
              color alpha($THEME_COLOR_WHITE, .8) !important
      .btn_subscription
        &::before
          color alpha($THEME_COLOR_WHITE, .9) !important
