.main__cover[data-mode='slideshow-screen']
  min-height 100vh !important
  .uk-slideshow-items
    min-height 100vh !important
    .description
      .category a
        font-size 1rem
      .title
        font-size 2.2rem
        @media screen and (max-width: 1200px)
          font-size 1.8rem
