mixin coverItem()
  s_cover_item
    li.content__index
      s_cover_item_article_info
        block

mixin coverImage()
  a.img(href='[##_cover_item_url_##]')
    s_cover_item_thumbnail
      img.thumbnail(src='[##_cover_item_thumbnail_##]')&attributes(attributes)

mixin coverDescription(isFeatured=false)
  .description&attributes(attributes)
    .category: a(href='[##_cover_item_category_url_##]') [##_cover_item_category_##]
    h1.title: a(href='[##_cover_item_url_##]') [##_cover_item_title_##]
    unless isFeatured
      p.summary [##_cover_item_summary_##]
      time.date
        | →
        span [##_cover_item_simple_date_##]

mixin cover(mode, isFeatured=false)
  case mode
    when 'default'
    when 'list'
    when 'grid'
    when 'gallery'
      section.__list.main__cover(data-mode=mode)
        h1.cover__title [##_cover_title_##]
        ul&attributes(attributes)
          +coverItem()
            +coverImage()
            +coverDescription(isFeatured)
    when 'tape'
    when 'screen'
      section.__slide.main__cover(data-mode=mode class='uk-position-relative uk-visible-toggle uk-light' tabindex='-1')&attributes(attributes)
        h1.cover__title [##_cover_title_##]
        ul(class='uk-slideshow-items')
          +coverItem()
            +coverImage()(uk-cover)
            div(class='uk-overlay-primary uk-position-cover')
            +coverDescription(true)(class='uk-position-center uk-position-small')

s_cover_group
  s_cover_rep
    s_cover(name='default')
      +cover('default')
    s_cover(name='list')
      +cover('list')
    s_cover(name='grid')
      +cover('grid')(class='uk-child-width-1-2@s uk-child-width-1-[##_var_grid-column-count_##]@m' uk-grid)
    s_cover(name='gallery')
      +cover('gallery', true)(class='uk-child-width-1-2@s uk-child-width-1-[##_var_gallery-column-count_##]@m' uk-grid)
    s_cover(name='tape')
      +cover('tape')(uk-slideshow='min-height: 280; max-height: [##_var_tape-height_##]; autoplay: true; animation: fade')
    s_cover(name='screen')
      +cover('screen')(uk-slideshow='autoplay: true; animation: fade')

style
  :stylus
    .main__cover
      margin 40px 0
      &:first-of-type
        margin-top 0
        .cover__title
          margin-top 80px
      &:last-of-type
        margin-bottom 0px
      .cover__title
        text-align center
        font-size 1.6rem
        margin-top 80px
        margin-bottom 62px
        font-weight 600
        line-height 1.6em
        color black
        &:empty
          margin 0 !important
      ul
        margin-top 0 !important
      @media screen and (max-width: 1200px)
        &:first-of-type
          .cover__title
            margin-top 80px
        ul
          font-size 1.3rem
        .cover__title
          margin-top 40px
          margin-bottom 30px

style
  :stylus
    html[data-theme='dark']
      .main__cover
        .cover__title
          color white

style
  :stylus
    .__slide.main__cover[data-mode='tape'], .__slide.main__cover[data-mode='screen']
      width 100vw
      margin-left calc(((100vw - 100%) / 2) * -1)
      min-width 320px
      .content__index
        .description
          .category
            text-align center
          .title
            line-height 1.5em
          *
            color white !important
            margin 0
      @media screen and (max-width: 320px)
        margin-left -15px

//- [data-mode='tape']
style
  :stylus
    .__slide.main__cover[data-mode='tape']
      .description
        .title
          font-size 1.8rem
          @media screen and (max-width: 1200px)
            font-size 1.5rem

//- [data-mode='screen']
style
  :stylus
    .__slide.main__cover[data-mode='screen']
      min-height 100vh !important
      .uk-slideshow-items
        min-height 100vh !important
        .description
          .category a
            font-size 1rem
          .title
            font-size 2.2rem
            @media screen and (max-width: 1200px)
              font-size 1.8rem
