mixin cover()
  section.cover(class='flex flex-col items-center')
    header.header
      h1.tit(class='h-h min-h-[theme(spacing.h)] flex items-center font-bold text-3xl text-h-800 dark:text-h-200 empty:hidden') [##_cover_title_##]
    block

mixin coverItem()
  s_cover_item
    +index('cover_item')&attributes(attributes)

mixin coverList(mode)
  +cover()
    .posts(data-mode=mode)
      +coverItem()

mixin coverSlider(mode)
  +cover()
    .posts(
      data-mode=mode
      class='swiper')
      .wrap(class='swiper-wrapper')
        +coverItem()(class='swiper-slide')
      .next(class='swiper-button-next')
      .prev(class='swiper-button-prev')

s_cover_group
  #covers(class='flex flex-col gap-y-8 lg:gap-y-12')
    s_cover_rep
      s_cover(name='gallery')
        +coverList('gallery')
      s_cover(name='list')
        +coverList('list')
      s_cover(name='grid')
        +coverList('grid')
      s_cover(name='zigzag')
        +coverList('zigzag')
      s_cover(name='slider')
        +coverSlider('slider')
