s_cover_group
  section#cover(
    x-init='$store.header.show = false'
    class='flex flex-col gap-y-12 lg:gap-y-16')
    s_cover_rep
      include Cover/Basic
      include Cover/EmptyLine
      include Cover/Portfolio
      include Cover/Typography
