s_guest
  #guestbook
    +header('방명록')
    .wrap(
      x-ref='guestbook'
      class='w-full px-4 lg:px-0 lg:max-w-screen-lg lg:w-pem lg:mx-auto')
      +commentForm('guest')
      +commentList('guest', 'guest_reply')
