s_guest
  #__guestbook
    h1 방명록
    +form('guest')
    +list('guest', 'guest_reply')

style(scoped)
  :stylus
    #tt-body-guestbook
      #__main
        width unquote('[##_var_guestbook-width_##]' + 'px')

style
  :stylus
    html[data-theme='dark']
      #__guestbook
        h1
          color white
