s_guest
  #guestbook
    +form('guest')
    +list('guest', 'guest_reply')

style
  :stylus
    #tt-body-guestbook
      #guestbook
        width 670px
        margin 0 auto
        @media screen and (max-width: 720px)
          width 100%
