s_list
  #list(
    x-data='{ listStyle: "[##_list_style_##]" }'
    x-init='$store.header.title = "[##_list_conform_##]"'
    :data-list-style='listStyle')
    s_list_rep
      +index('list_rep')
    s_list_empty
      include List/Empty
