s_list
  section.__list.main__list(data-mode='[##_list_style_##]' data-image-mode='[##_var_list-image-mode_##]')
    header.list__header
      s_list_image
        .img
          .mask
          img.thumbnail.lazyload(data-src='[##_list_image_##]' data-sizes='auto' alt='[##_list_conform_##]')
      .heading
        h1.title [##_list_conform_##]
    ul
      +index('list')

script.
  /* List */
  $(document).ready(() => {
    // Set Styled Heading
    h.setStyledHeading('.main__list', 'header > .img', H.skinOptions.listImageMode, {
      attr: 'data-image-mode'
    })
    // List Style - Grid, Gallery
    h.setListCount('.__list.main__list > ul', {
      grid: H.skinOptions.gridColumnCount,
      gallery: H.skinOptions.galleryColumnCount
    })
    // Set List Title
    h.setListTitle('.__list > .list__header .title', T.config.BLOG.title)
  })
