s_list
  section.__list.main__list(data-mode='[##_list_style_##]' data-image-mode='[##_var_list-image-mode_##]')
    header.list__header
      s_list_image
        .img
          .mask
          img.thumbnail(src='[##_list_image_##]')
      .heading
        h1.title [##_list_conform_##]
    script(scoped).
      // set List Title
      $(document).ready(() => $('.__list > .list__header .title').text(
        '[##_list_conform_##]' === '전체 글'
          ? '[##_title_##]'
          : '[##_list_conform_##]'
        )
      )
    ul
      +index('list')

script(scoped).
  // List Style - Grid, Gallery
  $(document).ready(() => h.Post.Mode.list('.__list.main__list > ul', {
    grid: '[##_var_grid-column-count_##]',
    gallery: '[##_var_gallery-column-count_##]'
  }))

script(scoped).
  // Set Styled Heading
  $(document).ready(() => h.Post.Mode.setStyledHeading('.main__list', '[##_var_list-image-mode_##]', { attr: 'data-image-mode' }))

//- [data-mode='gallery']
style(scoped)
  :stylus
    .__list[data-mode='gallery']
      .content__index
        .img
          .thumbnail
            height unquote('[##_var_gallery-item-height_##]' + 'px')
