s_list
  #list(
    x-init='$store.header.title = "[##_list_conform_##]"'
    data-list-style='[##_list_style_##]'
    x-ref='list')
    s_list_rep
      +index('list_rep')
    s_list_empty
      +indexEmpty()

style
  :postcss
    #tt-body-index,
    #tt-body-category,
    #tt-body-search {
      [data-mode=gallery],
      [data-mode=list],
      [data-mode=grid],
      [data-mode=zigzag] {
        @apply w-full px-4 lg:px-0 lg:mx-auto lg:w-idx;
      }

      [data-mode=slider] {
        @apply w-full h-screen;
      }

      [data-mode=grid],
      [data-mode=gallery] {
        @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3;
      }

      [data-mode=list],
      [data-mode=zigzag] {
        @apply flex flex-col gap-y-6 sm:gap-y-0;
      }
    }

style
  :postcss
    #tt-body-index,
    #tt-body-category,
    #tt-body-search {
      [data-mode=grid] {
        @apply gap-4 lg:gap-8;
      }
    }

style
  :postcss
    #tt-body-index,
    #tt-body-category,
    #tt-body-search {
      [data-mode=gallery] {
        @apply gap-2;
      }
    }
