s_list
  section.__list.main__list(data-mode='[##_list_style_##]' data-image-mode='[##_var_list-image-mode_##]')
    header.list__header
      s_list_image
        .img
          .mask
          img.thumbnail.lazyload(data-src='[##_list_image_##]' data-sizes='auto')
      .heading
        h1.title [##_list_conform_##]
    ul
      +index('list')

script.
  // Set Styled Heading
  $(document).ready(() => {
    h.Post.Mode.setStyledHeading('.main__list', H.skinOptions.listImageMode, {
      attr: 'data-image-mode'
    })
  })

script.
  // Set List Title
  $(document).ready(() => {
    const $title = $('.__list > .list__header .title')
    $title.text() === '전체 글' ? $title.text(T.config.BLOG.title) : $title.text()
  })

script.
  // List Style - Grid, Gallery
  $(document).ready(() => h.Post.Mode.list('.__list.main__list > ul', {
    grid: H.skinOptions.gridColumnCount,
    gallery: H.skinOptions.galleryColumnCount
  }))
