s_notice_rep
  s_index_article_rep
    div(
      data-mode='list'
      class='mt-4 px-4 first:mt-20 lg:first:mt-40 lg:mt-0 lg:px-0 lg:w-[theme(screens.lg)] lg:mx-auto')
      +index('notice', false)
  s_permalink_article_rep
    +permalink('permalink', 'notice', false)
