s_notice_rep
  s_index_article_rep
    .notice-index(
      data-mode='list'
      class='mt-6 px-4 first:mt-20 lg:first:mt-40 lg:mt-0 lg:px-0 lg:w-idx lg:mx-auto sm:border-t sm:border-solid sm:border-h-300 sm:dark:border-h-400 sm:first:border-t-0')
      +index('notice', false)
  s_permalink_article_rep
    #notice-permalink
      +permalink('notice', false)
