s_paging
  ul#__paging(class='uk-pagination uk-flex-center' uk-margin)
    li
      a([##_prev_page_##] class='[##_no_more_prev_##] prev')
        span(uk-pagination-previous)
        | 이전
    s_paging_rep
      li
        a([##_paging_rep_link_##]) [##_paging_rep_link_num_##]
    li
      a([##_next_page_##] class='[##_no_more_next_##] next')
        | 다음
        span(uk-pagination-next)
