s_paging
  ul#paging(class='flex justify-center items-center mt-8 lg:mt-20')
    li
      div([##_prev_page_##] class='[##_no_more_prev_##] text-[0]')
        | 이전
        i(class='fa fa-angle-left')
    s_paging_rep
      li
        a([##_paging_rep_link_##]) [##_paging_rep_link_num_##]
    li
      div([##_next_page_##] class='[##_no_more_next_##] text-[0]')
        i(class='fa fa-angle-right')
        | 다음

style
  :postcss
    #paging {
      a {
        @apply inline-block;
      }

      span {
        @apply text-sm;
      }

      i,
      span {
        @apply w-8 h-8 leading-8 text-center mx-1 text-base text-h-800 dark:text-h-300;
      }

      span:not(.selected) {
        @apply hidden lg:inline-block;
      }

      .selected {
        @apply rounded-full bg-h-600 inline-block text-h-200;
      }
    }
