s_tag
  section#tag(
    x-init='$store.header.title = "태그 클라우드"'
    class='index-container')
    ul.tags(class='grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6')
      s_tag_rep
        li.tag
          a.link(
            href='[##_tag_link_##]'
            class='flex items-center justify-center text-sm p-4 text-overflow-hidden text-center rounded-md duration-200 w-full bg-h-200 text-h-500 hover:bg-h-600 hover:text-h-200 dark:text-h-400 dark:bg-h-700 dark:hover:bg-h-600 [##_tag_class_##]') [##_tag_name_##]
