s_tag
  #tags
    ul
      s_tag_rep
        li
          a(href='[##_tag_link_##]' class='[##_tag_class_##]') [##_tag_name_##]

style
  :stylus
    #tt-body-tag
      #tags
        width 1100px
        margin 0 auto
        @media screen and (max-width: 1100px)
          width 100%

style
  :stylus
    $background = #f8f8f8
    $background-hover = #ed5207
    $color = alpha(black, .7)
    $color-hover = white

    #tags
      ul
        column-count 6
        column-gap 20px
        li
          break-inside avoid
          text-align center
          margin-bottom 15px
          a
            background $background
            color $color
            display inline-block
            font-size .9rem
            border-radius 5px
            transition-duration .2s
            line-height 1.8em
            box-sizing border-box
            padding 20px 14px
            width 100%
            &:hover
              background-color $background-hover
              color $color-hover
        @media screen and (max-width: 640px)
          column-count 1
        @media screen and (min-width: 640px) and (max-width: 960px)
          column-count 2
        @media screen and (min-width: 960px) and (max-width: 1100px)
          column-count 4
