s_tag
  #tag-cloud(class='w-full px-4 mt-20 lg:mt-40 lg:mx-auto lg:w-idx lg:px-0')
    ul.tags(class='grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6')
      s_tag_rep
        li.tag(class='px-4 py-5 text-overflow-hidden text-center rounded-md duration-200 w-full bg-h-200 text-h-500 hover:bg-h-600 hover:text-h-200 dark:text-h-400 dark:bg-h-700 dark:hover:bg-h-600')
          a.link(
            href='[##_tag_link_##]'
            class='[##_tag_class_##]') [##_tag_name_##]
