html[data-theme='dark']
  #__sidebar
    .search
      .uk-search
        background-color $THEME_BACKGROUND_COLOR_LEVEL1 !important
        #search, .uk-search-icon
          color alpha($THEME_COLOR_WHITE, .9)
