html[data-theme='dark']
  #__sidebar
    #sidebar__tistory
      .header_layer
        a
          color alpha($THEME_COLOR_WHITE, .9)
        .inner_header_layer
          background-color $THEME_BACKGROUND_COLOR_LEVEL2
          > .info_profile
            .txt_email
              color alpha($THEME_COLOR_WHITE, .7)
          > .wrap_list
            .tit_list_type
              color $THEME_COLOR_WHITE
          .img_common_tistory
            filter brightness(0) invert(1);
          .list_toolbar
            > li
                a
                  color alpha($THEME_COLOR_WHITE, .8)
                  &:hover
                    color $THEME_COLOR_WHITE
