#__nav
  .right
    div[class=btn_tool]
      .btn_menu_toolbar.btn_subscription
        Button($BUTTON_SIZE, $BUTTON_SIZE, 50%, var(--h-button-color-hover-background), var(--h-button-color-hover))
        *
          display none
        &::before
          FontAwesome('\f005')
          font-weight 600
          font-size $BUTTON_FONT-SIZE
