#__nav
  .right
    div[class=btn_tool]
      .btn_menu_toolbar.btn_subscription
        background-color var(--h-button-color-hover-background)
        color var(--h-button-color-hover)
        cursor pointer
        border none
        line-height 1em
        text-align center
        border-radius 50%
        transition-duration .1s
        *
          display none
        &::before
          FontAwesome('\f005')
          font-weight 600
