#__nav
  #nav__s2
    div[class=btn_tool]
      .btn_menu_toolbar.btn_subscription
        background-color alpha($THEME_COLOR_BLACK, .9)
        color $THEME_COLOR_WHITE
        cursor pointer
        border none
        line-height 1em
        text-align center
        border-radius 50%
        transition-duration .1s
        *:not(i)
          display none
