$BUTTON_SIZE = 40px
$BUTTON_FONT-SIZE = 13px !important

#__nav
  div[class=btn_tool] .btn_menu_toolbar.btn_subscription,
  .left > img
    @media screen and (max-width: 1260px)
      transform scale(.88)
