$BUTTON_SIZE = 40px

#__nav
  div[class=btn_tool] .btn_menu_toolbar.btn_subscription,
  .left > img
    width $BUTTON_SIZE
    height $BUTTON_SIZE
    @media screen and (max-width: 1260px)
      transform scale(.88)
