mixin permalink(pageType, type, hasCategory=true)
  #{`s_${pageType}_rep`}
    div(id=`__${pageType}`)
      include Permalink/Post
      if hasCategory
        include Permalink/Comment
        s_if_var_notify
          include Permalink/Notification

script.
  /*
   * Permalink
   */
  $(document).ready(() => {
    //// Layout

    // Set Styled Heading
    h.Layout.setStyledHeading(
      '.content__permalink',
      'header > .img',
      H.skinOptions.articleMode,
      {
        controllable: true,
        modeHandsControlElement: '.content__permalink .contents_style > div.h[data-mode]'
      }
    )

    ////

    // Media contents alignment
    h.Permalink.setAlignImageCenter({
      imageSlideBlock: true,
      imageBlock: true,
      imageGridBlock: true
    })
    // Add 'a' tag into headings
    h.Permalink.setAnchorHeadings('.content__permalink .contents_style', '> h2, > h3, > h4')

    //// Highlight.js

    // Set Theme
    h.Theme.setHljsTheme(H.skinOptions.codeBlockLight, H.skinOptions.codeBlockDark)
    // Init
    hljs.initHighlighting()

    //// Buttons

    // Comment
    h.Permalink.setCommentToggleButton('.permalink__comment', H.skinOptions.comment)
    // Init TistoryLayer
    h.Permalink.setButtons('.content__permalink .permalink__btn')

    //// Tags

    // Remove ',' text in Tags
    $('.permalink__tags').contents().filter(function () {
      return this.nodeType === 3
    }).remove()

    //// Scrollspy

    h.Permalink.setScrollspy({
      context: '.content__permalink .contents_style',
      spy: '#__spy ul',
      headings: '> h2, > h3'
    })
  })
