mixin permalink(pageType, type, hasCategory=true)
  div(id=`__${pageType}`)
    include Permalink/Post
    if hasCategory
      include Permalink/Comment
      s_if_var_notify
        include Permalink/Notification

script.
  /* Permalink */
  $(document).ready(() => {
    // Add 'a' tag into headings
    h.Permalink.anchorHeadings('.content__permalink .contents_style', '> h2, > h3, > h4')
    // Scrollspy
    h.Permalink.scrollspy({
      context: '.content__permalink .contents_style',
      spy: '#__spy ul',
      headings: '> h2, > h3'
    })
    // Media contents alignment
    h.Permalink.alignImageCenter({
      imageSlideBlock: true,
      imageBlock: true,
      imageGridBlock: true
    })
    // Highlight.js
    h.Theme.highlightjs(H.skinOptions.codeBlockLight, H.skinOptions.codeBlockDark)
    // Remove ',' text in Tags
    h.Utils.removeTextNode('.permalink__tags')
    // TistoryEtcLayer, TistorySnsLayer
    h.TistoryLayer.postButtons('.content__permalink .permalink__btn')
  })

script.
  $(document).ready(() => {
    // Set Styled Heading
    h.Layout.styledHeading('.content__permalink','header > .img', H.skinOptions.articleMode, {
      controllable: true,
      modeHandsControlElement: '.content__permalink .contents_style > div.h[data-mode]'
    })
  })
