mixin permalink(pageType, type, hasCategory = true)
  #{`s_${pageType}_rep`}
    div(id=`__${pageType}`)
      include Permalink/Post
      if hasCategory
        include Permalink/Comment
        s_if_var_notify
          include Permalink/Notification

script.
  /* Post */
  $(document).ready(() => {
    // Set Styled Heading
    h.setStyledHeading('.content__permalink', 'header > .img', H.skinOptions.articleMode, {
      controllable: true,
      modeHandsControlElement: '.content__permalink .contents_style > div.h[data-mode]'
    })
    // Media contents alignment
    h.setAlignImageCenter({
      imageSlideBlock: true,
      imageBlock: true,
      imageGridBlock: true
    })
    // Add 'a' tag into headings
    h.setAnchorHeadings('.content__permalink .contents_style', '> h2, > h3, > h4')
  })

script.
  /* Highlight.js */
  $(document).ready(() => {
    // Set Theme
    h.setHljsTheme(H.skinOptions.hljsThemeLight, H.skinOptions.hljsThemeDark)
    // Init
    hljs.initHighlighting()
  })

script.
  /* Buttons */
  $(document).ready(() => {
    // Comment
    h.setCommentToggleButton('.permalink__comment')
    // Init TistoryLayer
    h.initTistoryLayer('.content__permalink .permalink__btn')
  })

script.
  /* Tag */
  $(document).ready(() => {
    // Remove ',' text in Tags
    $('.permalink__tags').contents().filter(function () { return this.nodeType === 3 }).remove()
  })

script.
  /* Scrollspy */
  $(document).ready(() => {
    // Set
    h.setScrollspy({ context: '.content__permalink .contents_style', spy: '#__spy ul', headings: '> h2, > h3' })
  })
