mixin permalink(pageType, type, hasCategory=true)
  div(id=pageType)
    include Permalink/Post
    if hasCategory
      include Permalink/Comment
      s_if_var_notify
        include Permalink/Notification

script.
  /* Permalink */
  $(document).ready(() => {
    // Add 'a' tag into headings
    h.Permalink.anchorHeadings('.permalink .contents_style', '> h2, > h3, > h4')
    // Scrollspy
    h.Permalink.scrollspy({
      context: '.permalink .contents_style',
      spy: '#__spy ul',
      headings: '> h2, > h3'
    })
    // Media contents alignment
    h.Permalink.alignImageCenter({
      imageSlideBlock: true,
      imageBlock: true,
      imageGridBlock: true
    })
    // Highlight.js
    h.Theme.hljs(H.skinOptions.codeBlockLight, H.skinOptions.codeBlockDark)
    // Remove ',' text in Tags
    h.Utils.removeTextNode('.permalink .tags')
  })

script.
  $(document).ready(() => {
    // Set styled heading
    h.Layout.styledHeading('.permalink','header > .img', H.skinOptions.articleMode, {
      controllable: true,
      modeHandsControlElement: '.permalink .contents_style > div.h[data-mode]'
    })
    // Sticky nav
    window.addEventListener(
      'scroll',
      h.Layout.sticky('#__nav', '.permalink .contents_style')
    )
  })
