section#replies(
  x-data='{ shown: false }'
  x-intersect.once='shown = true'
  class='w-full px-4 lg:px-0 lg:max-w-screen-lg lg:w-pem lg:mx-auto')
  .wrap(x-show='shown')
    include Comment/Supporters
    s_rp
      h1.tit(class='text-hidden') 댓글
      +commentForm('rp')
      +commentList('rp', 'rp2', true)
