.sidebar-element
  #blogmenu
    h2 블로그 메뉴
    | [##_blog_menu_##]

style
  :postcss
    #sidebar {
      #blogmenu {
        ul {
          @apply flex flex-col gap-y-4 text-sm;
        }
      }
    }
