#category.el(x-data='category')
  | [##_category_list_##]

script.
  document.addEventListener('alpine:init', () => Alpine.data('category', () => ({
    /**
     * @var {Boolean} foldableCategory
     */
    foldableCategory: skinOptions.foldableCategory,

    /**
     * Init
     */
    init () {
      if (this.foldableCategory) {
        this.$subCategories.forEach(this.foldable.bind(this))
      }
    },

    /**
     * Foldable
     *
     * @param {HTMLElement} $subCategory
     */
    foldable ($subCategory) {
      $subCategory.parentNode.setAttribute('x-data', '{ open: false }')
      $subCategory.setAttribute('x-show', 'open')
      $subCategory.setAttribute('x-collapse', '')

      const $icon = this.$icon

      $icon.setAttribute('x-on:click', 'open = ! open')
      $icon.setAttribute(':class', '{ "rotate-90 duration-200": open }')

      $subCategory.parentNode.prepend($icon)
    },

    /**
     * Get subcategories
     *
     * @var {NodeListOf<HTMLElement>} $subCategories
     */
    get $subCategories () {
      return this.$el.querySelectorAll('.sub_category_list')
    },

    /**
     * Get a new icon
     *
     * @var {HTMLElement} $icon
     */
    get $icon () {
      const icon = document.createElement('i')

      icon.classList.add('fa-solid', 'fa-chevron-right')

      return icon
    }
  })))

style
  :postcss
    #category {
      .tt_category {
        .link_tit,
        .link_item,
        .link_sub_item {
          img {
            @apply hidden;
          }

          .c_cnt {
            @apply text-xs;
          }
        }

        .link_tit {
          @apply text-sm font-bold mb-6 inline-block text-h-900 dark:text-h-200;
        }

        ul {
          @apply flex flex-col gap-y-4 text-sm;

          li {
            @apply relative pr-5;

            i {
              @apply absolute right-0 text-xxs cursor-pointer leading-5;
            }
          }
        }

        .sub_category_list {
          li {
            @apply first:mt-4;

            .link_sub_item::before {
              @apply relative -top-px mr-1 fa-chevron-right text-xxs font-bold text-h-400;
            }
          }
        }
      }
    }
