nav.sb-category
  | [##_category_list_##]

style
  :stylus
    .sb-category
      .tt_category
        .link_tit
          font-size .9rem
          font-weight 600
          color alpha(black, .8) !important
          margin-bottom 14px
          display inline-block
        .category_list
          li
            padding-top 12px
