nav#sidebar__category
  | [##_category_list_##]

script.
  /* Category */
  $(document).ready(() => {
    if (H.skinOptions.categoryFold) {
      // Set 'Category' Fold
      h.setCategoryFold()
    }
  })
