nav#sidebar__category
  | [##_category_list_##]

script.
  /*
   * Category
   */
  $(document).ready(() => {
    if (H.skinOptions.category) {
      // Set 'Category' Fold
      h.Sidebar.setCategoryFold()
    }
  })
