li#copyright.el(class='text-h-400 flex justify-between')
  //
    이 부분은 스킨 소개페이지 및 제작자의 깃허브 링크로 이동됩니다.
    hELLO 는 무료인 만큼, 링크의 주소는 반드시 지켜주시기 바랍니다.
  small.author(class='flex gap-x-0.5')
    a.blog(href='https://pronist.tistory.com/5') hELLO
    | · Designed By
    a.name(href='https://github.com/pronist') 정상우.
  small.version v4.10.2
