#sidebar__counter
  .total
    .cnt-item
      .title 전체 방문자
      .cnt [##_count_total_##]
  .day
    .cnt-item
      .title 오늘
      .cnt [##_count_today_##]
    .cnt-item
      .title 어제
      .cnt [##_count_yesterday_##]
