#sidebar__counter
  div(class='uk-float-left uk-text-left')
    .cnt-item
      .title 전체 방문자
      .cnt [##_count_total_##]
  div(class='uk-float-right uk-text-right')
    .cnt-item
      .title 오늘
      .cnt [##_count_today_##]
    .cnt-item
      .title 어제
      .cnt [##_count_yesterday_##]
