#my-links.el
  h2.tit 링크
  ul.links(class='flex flex-col gap-y-4')
    s_link_rep
      li.link
        .txt(class='leading-none')
          i.ico(class='fa-solid fa-link mr-2 text-xs')
          a.link(
            href='[##_link_url_##]'
            target='_blank'
            class='text-sm') [##_link_site_##]
