.el
  #notice
    h2.tit
      a.link.to-list(href='/notice') 공지사항
    s_rct_notice
      ul.notices(class='flex flex-col gap-y-4 text-sm')
        s_rct_notice_rep
          li.notice
            .tit
              i.ico(class='fa-regular fa-bell text-h-400 mr-2')
              a.link(href='[##_notice_rep_link_##]') [##_notice_rep_title_##]
