nav#sidebar__popular-posts
  h2 인기 글
  ul
    s_rctps_popular_rep
      li
        .metainfo
          a.title(href='[##_rctps_rep_link_##]') [##_rctps_rep_title_##]
          .date [##_rctps_rep_simple_date_##]
        s_rctps_rep_thumbnail
          img.thumbnail.lazyload(data-src='[##_rctps_rep_thumbnail_##]' data-sizes='auto' width='60' height='45' alt='[##_rctps_rep_title_##]')
