.el
  #random-tags
    h2.tit
      a.link.to-list(href='/tag') 태그
    ul.tags(class='flex flex-col gap-y-4 text-sm')
      s_random_tags
        li.tag
          .name
            i.ico(class='fa fa-tag mr-2')
            a.link(href='[##_tag_link_##]'
              class='[##_tag_class_##]') [##_tag_name_##]
