li#random-tags.el
  h2.tit
    a.link(
      class='link_tit'
      href='/tag') 태그
  .tags(class='flex flex-wrap gap-2')
    s_random_tags
      .tag
        a.name(
          href='[##_tag_link_##]'
          class='inline-block text-xs px-2.5 py-1.5 rounded-lg bg-h-300 dark:bg-h-600')
          i.ico(class='fa fa-tag mr-1.5')
          span.link(class='[##_tag_class_##]') [##_tag_name_##]
