nav#sidebar__recent-posts
  h2 최근 글
  ul
    s_rctps_rep
      li
        .metainfo
          a.title(href='[##_rctps_rep_link_##]') [##_rctps_rep_title_##]
          .date [##_rctps_rep_simple_date_##]
        s_rctps_rep_thumbnail
          img.thumbnail.lazyload(data-src='[##_rctps_rep_thumbnail_##]' data-sizes='auto')
