#sidebar__search
  s_search
    div(class='uk-search uk-search-default')
      span(uk-search-icon)
      label(for='search') 검색
      input#search(class='uk-search-input'
        type='search'
        name='[##_search_name_##]'
        value='[##_search_text_##]'
        onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }')
