.sidebar-element
  div
    h2
      a.link_tit(href='/tag') 태그
    ul(class='flex flex-col gap-y-4 text-sm')
      s_random_tags
        li
          i(class='fa fa-tag mr-2')
          a(href='[##_tag_link_##]'
            class='[##_tag_class_##]') [##_tag_name_##]
