.sb-tistory
  h2 티스토리

script.
  /**
   * Copy TistoryToolbar to Sidebar
   */
  $(document).ready(function () {
    $('.menu_toolbar > #menubar_wrapper > .header_layer').appendTo('#__sidebar > #sidebar__shadow > .sb-tistory')
  })

style
  :stylus
    #__sidebar > #sidebar__shadow
      .header_layer
        position initial
        top unset
        bottom unset
        left unset
        right unset
        box-shadow none
        padding 0
        display block !important
        max-width 230px
        &::after
          display none
        a
          color alpha(black, .7)
        .inner_header_layer
          background-color #f4f4f4
          *
            padding-left 0
            border none
          > .info_profile
            padding 0
            padding-top 6px
            .link_setting.link_setting_type2
              font-size .8rem
          > .wrap_list
            box-shadow none
            .tit_list_type
              padding-top 22px
              margin-bottom 10px
              font-size .8rem
          .list_toolbar
            max-width 200px
            margin-top 6px
            padding-top 3px
            > li
              padding-top 8px
          .info_profile_type1
            &:last-child
              margin-bottom 0px

style
  :stylus
    html[data-theme='dark']
      #__sidebar > #sidebar__shadow
        .header_layer
          a
            color alpha(white, .9)
          .inner_header_layer
            background-color #292a2d
            > .info_profile
              .txt_email
                color alpha(white, .7)
            > .wrap_list
              .tit_list_type
                color white
            .img_common_tistory
              filter brightness(0) invert(1);
