html[data-theme='dark']
  .permalink
    .container_postbtn
      .postbtn_ccl
        >.link_ccl
          background none !important
        .bundle_ccl
          > *
            filter brightness(0) invert(1);
