html[data-theme='dark']
  #tistorySnsLayer, #tistoryEtcLayer
    background $THEME_BACKGROUND_COLOR_LEVEL3 !important
    .btn_mark
      color alpha($THEME_COLOR_WHITE, .8) !important
      &:hover
        border-color $THEME_BACKGROUND_COLOR_LEVEL4 !important
        background-color $THEME_BACKGROUND_COLOR_LEVEL4 !important
    .ico_arrbt
      filter invert(.5)
