html[data-theme='dark']
  #tistoryCclLayer
    background-color $THEME_BACKGROUND_COLOR_LEVEL3
    border-color alpha($THEME_BACKGROUND_COLOR_LEVEL3, .1)
    span
      filter brightness(0) invert(1);
      color $THEME_COLOR_WHITE
