#__footer
  width 100%
  padding 0 20px
  box-sizing border-box
  position fixed
  bottom 20px
  font-size .92rem
  z-index 9996
  .toTop,
  .theme-btn
    Button($BUTTON_SIZE, $BUTTON_SIZE, 50%, var(--h-button-color-background), var(--h-button-color))
    i
      font-size .9rem !important
  .toTop
    margin-left 10px
  @media screen and (max-width: 1600px)
    bottom 15px
    padding 0 15px

@media screen and (min-width: 1400px)
  body[data-sidebar-default]
    #__footer
      width 'calc(100% - %s)' % ($SIDEBAR_WIDTH) !important
