$BUTTON_SIZE = 35px

#__footer
  width 100%
  padding 0 20px
  box-sizing border-box
  position fixed
  bottom 20px
  font-size .92rem
  z-index 9996
  .designed-by,
  .toTop,
  .theme-btn
    background-color var(--h-button-background)
    color var(--h-button-color)
    box-shadow 0 0 0 1px var(--h-color-blurriest), 0 2px 5px var(--h-color-blurriest)
    border-radius 25px
    border none
    cursor pointer
    transition-duration .1s
    width $BUTTON_SIZE
    height $BUTTON_SIZE
    line-height $BUTTON_SIZE
    text-align center
    border-radius 50%
    font-size 0 !important
    i
      font-size .9rem !important
      line-height $BUTTON_SIZE
    &:hover
      background-color var(--h-button-color-hover-background)
      color var(--h-button-color-hover)
  .toTop
    margin-left 12px
  @media screen and (max-width: 1600px)
    bottom 15px
    padding 0 15px

@media screen and (min-width: 1400px)
  body[data-sidebar-default='1']
    #__footer
      width 'calc(100% - %s)' % ($SIDEBAR_WIDTH) !important
