@keyframes ball-clip-rotate
  0%
    transform:rotate(0deg)
  50%
    transform:rotate(180deg)
  100%
    transform:rotate(360deg)

.la-ball-clip-rotate,.la-ball-clip-rotate > div
  position relative
  box-sizing border-box

.la-ball-clip-rotate
  display block
  font-size 0
  color #fff
  width 32px
  height 32px
  & > div
    display inline-block
    float none
    background-color currentColor
    border 0 solid currentColor
    width 32px
    height 32px
    background transparent
    border-width 2px
    border-bottom-color transparent
    border-radius 100%
    animation ball-clip-rotate 0.75s linear infinite

#__loader
  background-color var(--h-color-background-level-1)
  z-index 9999
  position fixed
  top 0
  width 100%
  height 100%
  .la-ball-clip-rotate
    color var(--h-color)
