@keyframes ball-clip-rotate
  0%
    transform:rotate(0deg)
  50%
    transform:rotate(180deg)
  100%
    transform:rotate(360deg)

.la-ball-clip-rotate,.la-ball-clip-rotate > div
  position relative
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

.la-ball-clip-rotate
  display block
  font-size 0
  color #fff
  width 32px
  height 32px
  &.la-dark
    color #333
  & > div
    display inline-block
    float none
    background-color currentColor
    border 0 solid currentColor
    width 32px
    height 32px
    background transparent
    border-width 2px
    border-bottom-color transparent
    border-radius 100%
    animation ball-clip-rotate 0.75s linear infinite
  &.la-sm
    width 16px
    height 16px
    & > div
      width 16px
      height 16px
      border-width 1px
  &.la-2x
    width 64px
    height 64px
    & > div
      width 64px
      height 64px
      border-width 4px
  &.la-3x
    width 96px
    height 96px
    & > div
      width 96px
      height 96px
      border-width 6px

#__loader
  background-color $THEME_COLOR_WHITE
  z-index 9999
  position fixed
  top 0
  width 100%
  height 100%
  .la-ball-clip-rotate
    color $THEME_COLOR_ORANGE
