#__nav
  width 100% !important
  box-sizing border-box
  padding 0px 20px
  height 59px
  position absolute
  background none
  top -59px
  transition-duration .2s
  &.sticky
    position fixed
    top 0
    background-color var(--h-color-background-level-4)
    backdrop-filter blur(5px)
    z-index 9995
  @media screen and (max-width: 1260px)
    padding 0 15px
    height 54px

@media screen and (min-width: 1400px)
  body[data-sidebar-default='1']
    #__nav
      width 'calc(100% - %s)' % ($SIDEBAR_WIDTH) !important
      .left
        display none !important
