$WIDTH = 250px

#__sidebar
  left '-%s' % ($WIDTH)

#__sidebar
  background-color $THEME_BACKGROUND_COLOR_LEVEL1
  position fixed
  top 0
  width $WIDTH
  height 100%
  overflow hidden
  z-index 9998
  transition-duration .2s
  transition-property left
  #sidebar__shadow
    overflow-x hidden
    overflow-y scroll
    height 100%
    width $WIDTH + 20px
    position absolute
    padding 25px 0
    box-sizing border-box
    z-index 9997
    > div, nav
      padding 15px 0
      padding-left 20px
      box-sizing border-box
      max-width $WIDTH
      ul li
        TextOverflowHidden()
        max-width $WIDTH - 38px
    h2
      color alpha($THEME_COLOR_BLACK, .9)
      font-size .9rem
      font-weight 600
  @media screen and (max-width: 1400px)
    left '-%s' % ($WIDTH)

@media screen and (min-width: 1400px)
  body[data-sidebar-default='1']
    #__sidebar
      left 0 !important
