.layer_tooltip
  position fixed
  bottom 40px !important
  text-align center
  z-index 9995 !important
  width 100%
  left 0 !important
  background none !important
  transform none !important
  .inner_layer_tooltip
    display inline-block
    background-color alpha(black, .7)
    color white
    font-size .88rem
    border-radius 8px
    padding 10px 15px !important
  p
    margin-right 15px
  @media screen and (max-width: 1200px)
    bottom unset !important
    top 60px

@media screen and (min-width: 1400px)
  body[data-sidebar-default]
    .layer_tooltip
      left 250px !important
      width 'calc(100% - %s)' % ($SIDEBAR_WIDTH) !important
