.content__permalink[data-mode='screen'], .main__list[data-image-mode='screen']
  header
    height 100vh
    .img
      .mask, .thumbnail
        height 100vh
    .heading
      .title
        font-size 2.2rem
        @media screen and (max-width: 1200px)
          font-size 1.8rem

