html[data-theme='dark']
  --h-color white
  --h-color-blur alpha(white, .9)
  --h-color-blurrier alpha(white, .7)
  --h-color-blurriest alpha(white, .5)
  --h-color-background-level-1 #1e1f21
  --h-color-background-level-2 #292a2d
  --h-color-background-level-3 #353638
  --h-color-theme #5db0d7
  --h-button-color white
  --h-button-background #353638
  --h-button-color-hover white
  --h-button-color-hover-background #353638
