html
  --h-color black
  --h-color-blur alpha(black, .7)
  --h-color-blurrier alpha(black, .5)
  --h-color-blurriest alpha(black, .1)
  --h-color-background-level-1 white
  --h-color-background-level-2 #f8f8f8
  --h-color-background-level-3 #e9e9e9
  --h-color-theme #f0506e
  --h-button-color black
  --h-button-background white
  --h-button-color-hover white
  --h-button-color-hover-background black
