s_cover(name='Masonry')
  .masonry-layout
    s_cover_item
      .masonry-layout__panel
        +index()(class='masonry')

style
  :stylus
    $gap = 15px

    .masonry-layout
      column-gap $gap
      margin 40px 0
      column-count 2
      @media screen and (max-width: 1200px)
        margin 25px 0
        column-count 1
      .masonry-layout__panel
        break-inside avoid
        .masonry-post
          box-sizing border-box
          border-top none !important
          padding 0 !important
          margin-bottom $gap
          &:first-of-type
            padding-bottom 0
          .title
            margin-bottom 10px
            margin-top 5px !important
            font-size 1.1rem !important
          .summary
            font-size .92rem
          .thumbnail
            margin-bottom 15px !important
