.content__permalink
  > .header
    text-align center
    .img
      display none
    .heading
      .category
        color $THEME_COLOR_ORANGE
        font-weight 500
        font-size .96rem
      .title
        margin-top 0
        margin-bottom 5px
        font-weight 600
        font-size 1.7rem
        line-height 1.5em
      .metainfo
        color alpha($THEME_COLOR_BLACK, .5)
        font-size .9rem
        span
          display inline-block
          padding 0 3px
    @media screen and (max-width: 1200px)
      .title
        font-size 1.7rem
