s_cover(name="list")
  #posts
    s_cover_item
      s_cover_item_article_info
        .post
          s_cover_item_thumbnail
            img.thumbnail(src="[##_cover_item_thumbnail_##]")
          .category: a(href="[##_cover_item_category_url_##]") [##_cover_item_category_##]
          h1.title: a(href="[##_cover_item_url_##]") [##_cover_item_title_##]
          p.summary [##_cover_item_summary_##]
          time.date
            | →
            span [##_cover_item_date_##]
  #app: Readmore

style
  :stylus
    @media screen and (min-width: 600px)
      #posts .post
        .title
            font-size 1.5em
    @media screen and (max-width: 600px)
      #posts .post
        .title
          font-size 1.3em
    #posts .post
      padding 50px 0
      border-top 1px solid rgba(0, 0, 0, .1)
      &:first-of-type
        padding-top 0
        padding-bottom 50px
        border none
      &:last-of-type
        padding-bottom 0px
      .title
        margin-top 10px
        line-height 1.5em
        a
          color rgba(0, 0, 0, .9) !important
      .category
        margin-bottom 8px
        a
          font-size .92em
          font-weight 500
          color #ed5207 !important
      .thumbnail
        width 100%
      .summary
        display -webkit-box
        display -ms-flexbox
        display box
        -webkit-box-orient vertical
        -webkit-line-clamp 3
        line-height 1.8em
        overflow hidden
        max-height 80px
        margin-top 1px
        vertical-align top
        word-break break-all
      .date
        font-size .87em
        color rgba(0, 0, 0, .3)
        > span
          margin-left 7px
      .thumbnail
        border-radius 5px
        margin-bottom 25px
