s_article_related
  div(class='rounded-md p-5 mt-4 mb-2 box-border bg-h-200 text-h-500 dark:bg-h-700 dark:text-h-200')
    div(class='font-bold flex items-center justify-between text-overflow-hidden text-sm pb-2 mb-4 border-b border-solid border-h-400 dark:border-h-200')
      span '[##_article_rep_category_##]' 카테고리의 다른 글
      i(class='fas fa-bars')
    ul(class='flex flex-col gap-y-2')
      s_article_related_rep
        li
          a(
            href='[##_article_related_rep_link_##]'
            class='flex items-center justify-between text-sm')
            div(class='text-overflow-hidden') [##_article_related_rep_title_##]
            i(class='fas fa-arrow-right scale-75')

style
  :postcss
    .another_category {
      @apply hidden;
    }