s_tag_label
  #tags(class='mt-2 flex flex-wrap gap-x-1.5 text-[0]')
    | [##_tag_label_rep_##]

style(once='tags')
  :postcss
    #tags {
      a {
        @apply text-sm text-sm rounded-md py-2 px-4 mt-3 bg-h-200 text-h-500 dark:text-h-200 dark:bg-h-700 ;

        &:hover {
          @apply bg-h-600 text-h-200;
        }

        &:first-of-type::before {
          @apply mr-2 fa-tag;
        }
      }
    }
