#__spy
  #spy__shadow
    ul(class='uk-nav uk-nav-default' uk-scrollspy-nav='closest: li;')

script.
  // Scrollspy
  $(document).ready(() => {
    const $context = $('.content__permalink .content')

    if ($context.length) {
      h.Post.Permalink.scrollspy({
        context: '.content__permalink .content',
        spy: '#__spy ul',
        headings: 'h2, h3'
      })
      const { top } = $context.position()

      $('#__spy').css({
        top: top + 50,
        height: $context.height() + 620 - $('#__spy ul').height()
      })
    }
  })
