#__spy
  ul(class='uk-nav uk-nav-default' uk-scrollspy-nav='closest: li;')

script.
  // Scrollspy
  $(document).ready(() => {
    const $context = $('.content__permalink .content')

    if ($context.length) {
      const $spy = h.Post.Permalink.scrollspy({
        context: '.content__permalink .content',
        spy: '#__spy ul',
        headings: 'h2, h3'
      })
      const { top } = $context.position()

      $spy.css({
        top: top + 50,
        height: $context.height() + 53
      })
    }
  })

style(scoped)
  :stylus
    #tt-body-page
      #__spy
        display block
        // (MAX_WIDTH + ARTICLE_WIDTH / 2) + MARGIN_LEFT
        padding-left 'calc(((1100px + %s) / 2) + 50px)' % unquote('[##_var_article-width_##]' + 'px')
