if process.env.NODE_ENV === 'development'
  include TistoryLayer/TistoryToolbar
  include TistoryLayer/TistoryTooltipLayer

script.
  /*
   * Tistory Layer
   */
  $(document).ready(() => {
    //// Tooltip
    const messages = {
      Request: H.skinOptions.messageRequest,
      Unheart: H.skinOptions.messageUnheart,
      Heart: H.skinOptions.messageHeart,
      Unsubscribe: H.skinOptions.messageUnsubscribe,
      Subscribe: H.skinOptions.messageSubscribe,
      Url: H.skinOptions.messageUrl,
    }
    if (H.skinOptions.message) {
      h.TistoryLayer.setTooltips(messages, $('.article.content__permalink').length)
    }

    //// TistoryTollbar

    h.TistoryLayer.move({
      tistory: '#sidebar__tistory',
      subscription: '#nav__s2'
    })
  })
