if process.env.NODE_ENV === 'development'
  include TistoryLayer/TistoryToolbar
  include TistoryLayer/TistoryTooltipLayer

script.
  /* Tistory Tooltip Layer */
  $(document).ready(() => {
    const messages = {
      Request: H.skinOptions.messageRequest,
      Unheart: H.skinOptions.messageUnheart,
      Heart: H.skinOptions.messageHeart,
      Unsubscribe: H.skinOptions.messageUnsubscribe,
      Subscribe: H.skinOptions.messageSubscribe,
      Url: H.skinOptions.messageUrl,
    }

    if (H.skinOptions.message) {
      h.TistoryLayer.tooltip(messages, $('.article.content__permalink').length)
    }
  })

script.
  /* TistoryToolbar */
  $(document).ready(() => {
    // Subscription
    $('.menu_toolbar > div[class=btn_tool]').appendTo('#__nav .right')
    // Tistory
    $('.menu_toolbar > #menubar_wrapper > .header_layer').appendTo('#__sidebar .tistory')
  })
