if process.env.NODE_ENV === 'development'
  include TistoryLayer/TistoryToolbar
  include TistoryLayer/TistoryTooltipLayer

script.
  /* Tistory Layer Tooltip */
  $(document).ready(() => {
    // Set 'Tistory Layer Tooltip'
    const messages = {
      Request: H.skinOptions.messageRequest,
      Unheart: H.skinOptions.messageUnheart,
      Heart: H.skinOptions.messageHeart,
      Unsubscribe: H.skinOptions.messageUnsubscribe,
      Subscribe: H.skinOptions.messageSubscribe,
      Url: H.skinOptions.messageUrl,
    }
    if (H.skinOptions.message) {
      h.setTooltipMessages(messages, $('.article.content__permalink').length > 0)
    }
  })

script.
  /* TistoryToolbar */
  $(document).ready(() => {
    // Init 'TistoryToolbar'
    h.initTistoryToolbar('#sidebar__tistory', '#nav__s2')
  })
