s_guest
  #guestbook
    header#header(role='header')
      h1.name 방명록
    include Guestbook/Form
    include Guestbook/List

style
  :stylus
    #guestbook
      #header
        text-align center
        .name
          font-weight 600
          font-size 1.9rem
          margin-bottom 50px
        @media screen and (max-width: 600px)
          .name
            font-size 1.7rem
