article#post
  a.category(href="[##_article_rep_category_link_##]") [##_article_rep_category_##]
  h1.title [##_article_rep_title_##]
  include Post/Meta
  .content [##_article_rep_desc_##]
  include Post/Tag

script.
  hljs.initHighlightingOnLoad()

style
  :stylus
    @media screen and (min-width: 600px)
      #post
        .title
            font-size 2rem
        h2
          font-size 1.5rem
        h3
          font-size 1.3rem
        h4
          font-size 1.1rem
        .container_postbtn
          padding-top 50px
    @media screen and (max-width: 600px)
      #post
        .title
          font-size 1.8rem
        h2
          font-size 1.3rem
        h3
          font-size 1.2rem
        h4
          font-size 1rem
        .container_postbtn
          padding-top 30px
        blockquote[data-ke-style=style1]
          &::before
            font-size .85rem
    #post
      text-align center
      color rgba(0, 0, 0, .8)
      .container_postbtn
        padding-bottom 5px
        .postbtn_like
          border-radius initial
      div[data-ke-type=moreLess]
        position relative
        .moreless-content
          margin-top 25px
        a
          display inline-block
          border-radius 16px
          background-color #ed5207
          padding 0 14px
          line-height 32px !important
          height 32px
          color white !important
          font-size .85rem !important
          font-weight 600
          &::before
            font-family 'Font Awesome 5 Pro'
            content ''
            color white
            margin-right 5px
        &.open
          a::before
            content ''
        &:hover
          transition-duration .5s
        &::before
          z-index -1
          content: ""
          position absolute
          top 15px
          left 0
          height 0
          width 100%
          border-bottom 1px dashed rgba(0, 0, 0, .1)
      .category
        font-weight 500
        font-size .95rem
        color #ed5207
        &:hover
          color #ed5207
      .title
        margin 10px 0
        line-height 1.5em
        font-weight 600
      .content
        text-align left
        margin-top 50px
        blockquote
          font-style initial
          margin-top 20px
          &[data-ke-style=style1]
            text-align: center
            font-size 1.1rem
            &::before
              font-family 'Font Awesome 5 Pro'
              content ''
              font-weight 600
              display block
              margin-bottom 3px
            p
              color black
          &[data-ke-style=style2]
            border solid #acacac
            border-width 0 0 0 2px
            padding 1px 0 0 12px
            color #666
            line-height 1.8em
            text-align left
            font-size .9rem
          &[data-ke-style=style3]
            font-size 1rem
            background-color white
        table, td, th
          border none
        table
          margin-bottom 0
          th
            text-transform initial
          td
            font-size .9rem
        h2, h3, h4
          font-weight 600
          line-height 1.8em
          margin-top 20px
          margin-bottom 10px
        p, span
          line-height 1.8em
          letter-spacing .8px
          > code
            position relative
            top -1px
            color #ed5207
            white-space nowrap
            padding 2px 8px
            background #f8f8f8
            border-radius 5px
        b, strong
          color #ed5207
          font-size 1rem
          font-weight 400
        pre
          border none
          padding 0
          code
            background-color #f8f8f8
            border-radius 5px
            padding 15px
        img
          border-radius 5px
        a
          color #ed5207
          text-decoration underline
