#spy: ul(class="uk-nav uk-nav-default")

style
  :stylus
    @media screen and (min-width: 1178px)
      #spy
        position relative
        right -670px
    @media screen and (max-width: 1178px)
      #spy
        display none
    #spy
      ul
        text-align left
        position fixed
        top 160px
        width 200px
        font-weight 500
        .uk-active
          a
            transition-duration .5s
            color black
