#__spy
  ul(class='uk-nav uk-nav-default' uk-scrollspy-nav='closest: li')

script.
  /**
   * Create a scrollspy menu
   */
  $(document).ready(() => {
    const $permalink = $('.content__permalink')

    // Extract Headings
    const spies = $permalink.find('h2, h3').get().reduce((spies, heading) => {
      const $heading = $(heading)
      const anchor = encodeURIComponent($heading.text())
      spies.push({ href: '#' + anchor, label: $heading.text(), tag: $heading.prop('tagName').toLowerCase() })
      return spies
    }, [])

    // Build
    const $spy = $('#__spy ul')
    spies.forEach(spy => {
      const $a = $('<a></a>').text(spy.label).attr({
        'href': spy.href,
        'data-tag': spy.tag
      })
      $spy.append($('<li></li>').append($a))
    })
  })

script.
  /**
   * Set scrollspy position
   */
  $(document).ready(() => {
    const $spy = $('#__spy')
    const $content = $('.content__permalink').children('.content')

    if ($content.length) {
      const { top } = $content.position()
      $spy.css({ top: top + 50, height: $content.height() })
    }
  })

style(scoped)
  :stylus
    #tt-body-page
      #__spy
        display block
        padding-left 'calc(((1100px + %s) / 2) + 50px)' % unquote('[##_var_article-width_##]' + 'px')

style
  :stylus
    $width = 180px

    #__spy
      position absolute
      width $width
      list-style none
      text-align left
      font-weight 500
      z-index 0
      display none
      ul
        position sticky
        position -webkit-sticky
        top 80px
      .uk-active
        a
          transition-duration .5s
          color black
      a[data-tag=h3]
        padding-left 15px
      @media screen and (max-width: 1820px)
        display none !important

style
  :stylus
    html[data-theme='dark']
      #__spy
        .uk-active
          a
            color white
        li
          a
            color alpha(white, .8)
