#tistorySnsLayer
  float right
  .btn_mark
    &::before
      font-weight 600
    &[data-service='facebook'],
    &[data-service='twitter']
      &::before
        FontAwesome(false, 'Brands')
    &[data-service='kakaotalk'],
    &[data-service='kakaostory'],
    &[data-service='url']
      &::before
        FontAwesome()
    &[data-service='facebook']::before
      content '\f39e'
    &[data-service='kakaotalk']::before
      content '\f075'
    &[data-service='kakaostory']::before
      content '\f10e'
    &[data-service='twitter']::before
      content '\f099'
    &[data-service='url']::before
      content '\f0c1'
