.cover[data-mode='default'],
.cover[data-mode='list'],
.cover[data-mode='gallery'],
.cover[data-mode='grid'],
.cover[data-mode='zigzag']
  &:first-of-type
    margin-top 120px !important
  @media screen and (max-width: 1200px)
    &:first-of-type
      margin-top 80px !important
