.__list.main__cover[data-mode='default'],
.__list.main__cover[data-mode='list'],
.__list.main__cover[data-mode='gallery'],
.__list.main__cover[data-mode='grid']
  &:first-of-type
    margin-top 120px !important
  @media screen and (max-width: 1200px)
    &:first-of-type
      margin-top 80px !important
