.__slider.main__cover[data-mode^='slider']
  .content__index
    padding 0
    .description
      padding 60px
      .title
        font-size 1.3rem
    .img
      .thumbnail
        object-fit cover
        margin-bottom 0
    @media screen and (max-width: 1200px)
      .description
        padding 25px
