.main__cover[data-mode='slider'],
.main__cover[data-mode='slider-screen'],
.main__cover[data-mode='slideshow'],
.main__cover[data-mode='slideshow-screen']
  width 100vw
  margin-left calc(((100vw - 100%) / 2) * -1)
  min-width 320px
  &:first-of-type
    margin-top 0 !important
  .content__index
    .description
      .category
        text-align center
      .title
        line-height 1.5em
      *
        color white !important //- NT
        margin 0
  @media screen and (max-width: 1200px)
    a[uk-slideshow-item], a[uk-slider-item]
      display none
  @media screen and (max-width: 320px)
    margin-left -15px !important

@media screen and (min-width: 1400px)
  body[data-sidebar-default='1']
    .main__cover[data-mode='slider'],
    .main__cover[data-mode='slider-screen'],
    .main__cover[data-mode='slideshow'],
    .main__cover[data-mode='slideshow-screen']
      width 'calc(100vw - %s)' % ($SIDEBAR_WIDTH) !important
      margin-left 'calc((((100vw - %s) - 100%) / 2) * -1)' % ($SIDEBAR_WIDTH) !important
      min-width unset !important
