$NOTIFY_BOTTOM = 20px
$NOTIFY_SIDE_POSITION = 20px

.uk-notification
  bottom $NOTIFY_BOTTOM
  width initial
  z-index 4
  &.uk-notification-bottom-left
    left $NOTIFY_SIDE_POSITION
  &.uk-notification-bottom-right
    right $NOTIFY_SIDE_POSITION
  > *
    display inline-block
  .uk-notification-message
    background none
    padding 0
    z-index 4
    .notify
      display flex
      .thumbnail
        background-color white
        height 100px
        width 178px
        object-fit cover
      .metainfo
        background-color var(--h-color-background-level-2)
        padding 20px
        display flex
        flex-direction column
        justify-content center
        max-width 182px
        box-sizing border-box
        min-height 100px
        *
          color var(--h-color) !important
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
        .title
          font-size .96rem
          font-weight 500
        .description
          color var(--h-color-blur) !important
          font-size .8rem
          margin-bottom 3px

@media screen and (min-width: 1400px)
  body[data-sidebar-default='1']
    .uk-notification
      &.uk-notification-bottom-left
        left $SIDEBAR_WIDTH + 20px !important
