html[data-theme='dark']
  .protected.permalink
    .text
      color $THEME_COLOR_WHITE
    .input
      background-color $THEME_BACKGROUND_COLOR_LEVEL2 !important
      color $THEME_COLOR_WHITE !important
