if process.env.NODE_ENV === 'development'
  // div(data-tistory-react-app='Supporters')
  div
    .tt_box_cheers
      p.tt_desc_cheers
        span.tt_ico_smile 정상우님의
        br
        | 글이 좋았다면
        span.tt_bg_emph_cheers 응원
        | 을 보내주세요!
      button.tt_btn_cheers(type='button')
        span.tt_ico_cheers
          svg(width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_113_170)')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M3.13834 1.08131C2.69738 1.24795 2.57217 1.45132 2.53822 1.65981L2.53816 1.66021C2.51848 1.78026 2.56633 1.92335 2.81664 2.09277C3.06019 2.2576 3.41748 2.3849 3.78438 2.45708L3.91098 1.93206C3.96003 1.72866 4.15753 1.59742 4.36405 1.63101C4.82876 1.70659 5.18456 1.80466 5.42043 1.95588C5.54587 2.03631 5.66193 2.14716 5.72827 2.30089C5.79619 2.45831 5.79196 2.61408 5.75937 2.74514C5.69358 3.01304 5.4801 3.15122 5.31783 3.21819C5.15081 3.28712 4.95749 3.31695 4.77752 3.32892C4.41254 3.35321 3.98942 3.3105 3.6587 3.24759M3.65864 3.24758C3.22343 3.16486 2.73985 3.0068 2.36824 2.75529C1.99817 2.50483 1.65627 2.09545 1.74865 1.53104C1.84095 0.964633 2.22749 0.570303 2.85554 0.33296C3.45994 0.10456 4.33267 0 5.52246 0H17C17.2209 0 17.4 0.179086 17.4 0.4V10.6953C17.4 10.9162 17.2209 11.0953 17 11.0953H3.48101C3.2601 11.0953 3.08101 10.9162 3.08101 10.6953C3.08101 10.4743 3.2601 10.2953 3.48101 10.2953H16.6V0.8H5.52246C4.35673 0.8 3.60304 0.905697 3.13834 1.08131M2.14342 1.59553L1.74862 1.53125C1.74863 1.53118 1.74864 1.53111 1.74865 1.53104C1.74866 1.53098 1.74867 1.53092 1.74868 1.53085L2.14342 1.59553ZM2.14342 1.59553L2.14348 1.59554L2.14342 1.59553ZM4.58835 2.53571C4.63518 2.53523 4.68071 2.5336 4.7244 2.53069C4.73027 2.5303 4.73607 2.52989 4.74179 2.52946C4.69976 2.51709 4.65234 2.50447 4.59895 2.49175L4.58835 2.53571ZM5.0351 2.46779C5.03515 2.4678 5.03451 2.46826 5.03302 2.46911C5.03431 2.4682 5.03505 2.46777 5.0351 2.46779ZM5.37102 2.64926L5.37103 2.64926L5.37102 2.64926Z' fill='#F1F1F1')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M2.23903 1.16684C2.45463 1.21499 2.59038 1.42881 2.54223 1.64441L0.851312 9.2161C0.783014 9.51999 0.782767 9.83487 0.851319 10.142L0.851543 10.143L1.40295 12.6432L3.01096 10.4776C3.20912 10.21 3.34448 9.91635 3.41309 9.60914C3.4131 9.60909 3.41307 9.6092 3.41309 9.60914L4.98343 2.56065C5.03147 2.34502 5.24521 2.20916 5.46084 2.2572C5.67647 2.30524 5.81232 2.51899 5.76428 2.73461L4.19394 9.78311C4.09989 10.2044 3.91555 10.6003 3.65386 10.9537L1.52238 13.8243C1.42898 13.9501 1.27074 14.0098 1.11753 13.977C0.964323 13.9442 0.844362 13.825 0.810619 13.672L0.0705378 10.3163C0.0704961 10.3161 0.0705794 10.3164 0.0705378 10.3163C-0.0234025 9.89506 -0.0236393 9.46104 0.0705877 9.04155C0.0706129 9.04144 0.0705625 9.04166 0.0705877 9.04155L1.76147 1.47005C1.80962 1.25444 2.02343 1.1187 2.23903 1.16684Z' fill='#F1F1F1')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.74361 3.22393C7.95169 3.14972 8.18052 3.25825 8.25473 3.46632L9.33054 6.48298L10.4063 3.46633C10.4631 3.30704 10.614 3.20069 10.7831 3.20069C10.9522 3.20069 11.1031 3.30704 11.1599 3.46633L12.2357 6.48298L13.3115 3.46633C13.3857 3.25825 13.6145 3.14972 13.8226 3.22393C14.0307 3.29813 14.1392 3.52697 14.065 3.73505L12.6124 7.80816C12.5556 7.96745 12.4048 8.0738 12.2357 8.0738C12.0666 8.0738 11.9157 7.96745 11.8589 7.80816L10.7831 4.79151L9.70729 7.80816C9.65049 7.96745 9.49965 8.0738 9.33054 8.0738C9.16142 8.0738 9.01058 7.96745 8.95378 7.80816L7.50121 3.73505C7.427 3.52697 7.53553 3.29813 7.74361 3.22393Z' fill='#F1F1F1')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.11322 5.26865C7.11322 5.04774 7.29231 4.86865 7.51322 4.86865H14.0526C14.2735 4.86865 14.4526 5.04774 14.4526 5.26865C14.4526 5.48957 14.2735 5.66865 14.0526 5.66865H7.51322C7.29231 5.66865 7.11322 5.48957 7.11322 5.26865Z' fill='#F1F1F1')
            defs
              clipPath#clip0_113_170
                rect(width='18' height='14' fill='white')
        span.tt_txt_cheers 응원하기
      .tt_guide_cheers
        button.tt_btn_guide_cheers(type='button')
          span.tt_txt_guide_cheers 응원하기
          span.tt_img_area_reply.tt_ico_question 란?
        .tt_cheers_layer(style='display: none;')
          .tt_inner_cheers_layer
            .tt_cheers_layer_head
              strong.tt_tit_cheers_layer 응원하기
            .tt_cheers_layer_body
              .tt_wrap_guide
                .tt_inner_wrap_guide
                  .tt_box_guide
                    .tt_inner_box_guide
                      span.tt_img_area_reply.tt_ico_guide1
                      .tt_cont_guide
                        strong.tt_tit_guide 응원은 창작의 힘
                        p.tt_desc_guide 이 글이 도움이 됐다면, 응원 댓글을 써보세요. 블로거에게 지급되는 응원금은 새로운 창작의 큰 힘이 됩니다.
                  .tt_box_guide
                    .tt_inner_box_guide
                      span.tt_img_area_reply.tt_ico_guide2
                      .tt_cont_guide
                        strong.tt_tit_guide 카카오 계정으로 누구나
                        p.tt_desc_guide 응원 댓글은 만 14세 이상 카카오계정 이용자라면 누구나 편하게 작성, 결제할 수 있습니다.
                  .tt_box_guide
                    .tt_inner_box_guide
                      span.tt_img_area_reply.tt_ico_guide3
                      .tt_cont_guide
                        strong.tt_tit_guide 응원 댓글 강조
                        p.tt_desc_guide 글 본문, 댓글 목록 등을 통해 응원한 팬과 응원 댓글, 응원금을 강조해 보여줍니다.
                  .tt_box_guide
                    .tt_inner_box_guide
                      span.tt_img_area_reply.tt_ico_guide4
                      .tt_cont_guide
                        strong.tt_tit_guide 쉬운 결제
                        p.tt_desc_guide 응원금은 앱에서는 인앱결제, 웹에서는 카카오페이 및 신용카드로 결제할 수 있습니다.
            .tt_cheers_layer_foot
              .wrap_btn
                button.btn_confirm(type='button' style='cursor: pointer;') 확인
      .tt_cheers_layer(style='display: none;')
        form
          .tt_inner_cheers_layer.tt_inner_cheers_layer1
            .tt_cheers_layer_head
              strong.tt_tit_cheers_layer 응원 수익은
              strong.tt_tit_cheers_layer 창작자에게 큰 힘이 됩니다.
            .tt_cheers_layer_body
              .tt_inner_cheers_layer_scroll
                strong.tt_tit_cheers_layer 응원 금액
                .tt_list_cheers_select
                  label.tt-xe-label
                    input#1000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 1,000
                  label.tt-xe-label
                    input#3000(type='radio' name='Expense' checked)
                    .tt_card_cheers.tt_card_cheers_level(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 3,000
                  label.tt-xe-label
                    input#5000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level2(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 5,000
                  label.tt-xe-label
                    input#10000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level3(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 10,000
                  label.tt-xe-label
                    input#15000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level3(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 15,000
                  label.tt-xe-label
                    input#20000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level3(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 20,000
                  label.tt-xe-label
                    input#50000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level4(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 50,000
                  label.tt-xe-label
                    input#75000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level4(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 75,000
                  label.tt-xe-label
                    input#100000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level5(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 100,000
                  label.tt-xe-label
                    input#200000(type='radio' name='Expense')
                    .tt_card_cheers.tt_card_cheers_level5(style='min-width: inherit;')
                      span.tt_cheers_amount
                        span.tt_ico_won
                          span.ir_pm ￦
                          span.tt_select
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_150_87)')
                                path(d='M1.88281 6.68457C1.70703 6.68457 1.57031 6.54297 1.57031 6.3623C1.57031 6.17676 1.70703 6.04492 1.88281 6.04492H2.96191L2.25879 2.64648C2.24414 2.55859 2.23438 2.47559 2.23438 2.39258C2.23438 2.12891 2.43945 1.96777 2.70312 1.96777C2.94727 1.96777 3.12793 2.11914 3.17188 2.35352L3.86035 6.04492H5.51074L6.49219 2.41211C6.56055 2.1582 6.7168 1.9873 7 1.9873C7.27832 1.9873 7.42969 2.14355 7.49316 2.39258L8.47949 6.04492H10.1299L10.8184 2.35352C10.8623 2.11426 11.043 1.96777 11.2822 1.96777C11.5459 1.96777 11.7559 2.12891 11.7559 2.39258C11.7559 2.48047 11.7412 2.56348 11.7266 2.65137L11.0234 6.04492H12.1074C12.2881 6.04492 12.4248 6.17676 12.4248 6.3623C12.4248 6.54297 12.2881 6.68457 12.1074 6.68457H10.8916L10.1396 10.3369C10.0762 10.6543 9.82227 10.8545 9.49512 10.8545C9.18262 10.8545 8.94336 10.6592 8.87012 10.3564L7.86914 6.68457H6.12109L5.12012 10.3564C5.04199 10.6592 4.80762 10.8545 4.49023 10.8545C4.16309 10.8545 3.91406 10.6543 3.85059 10.3369L3.09375 6.68457H1.88281ZM6.9707 3.57422L6.29688 6.04492H7.69336L7.01953 3.57422H6.9707ZM4.51953 9.57031H4.55859L5.33984 6.68457H3.97754L4.51953 9.57031ZM9.43164 9.57031H9.4707L10.0078 6.68457H8.65039L9.43164 9.57031Z' fill='#555555')
                              defs
                                clipPath#clip0_150_87
                                  rect(width='14' height='12' fill='white')
                          span.tt_selected
                            svg(width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                              g(clip-path='url(#clip0_113_177)')
                                path(d='M4.6416 10.9375C4.30632 10.9375 4.01823 10.8366 3.77734 10.6348C3.53646 10.4362 3.38184 10.1514 3.31348 9.78027L2.10254 3.29102C2.08626 3.19987 2.07812 3.10384 2.07812 3.00293C2.07812 2.70671 2.16927 2.46582 2.35156 2.28027C2.53385 2.09473 2.78776 2.00195 3.11328 2.00195C3.38021 2.00195 3.60807 2.08659 3.79688 2.25586C3.98568 2.42188 4.09635 2.63672 4.12891 2.90039L4.81738 8.34473H4.86133L5.90137 2.99316C5.96322 2.66439 6.08691 2.41699 6.27246 2.25098C6.45801 2.08171 6.69727 1.99707 6.99023 1.99707C7.28646 1.99707 7.52897 2.08008 7.71777 2.24609C7.90658 2.41211 8.0319 2.65951 8.09375 2.98828L9.13379 8.34473H9.17773L9.86621 2.90039C9.89876 2.63672 10.0094 2.42188 10.1982 2.25586C10.387 2.08659 10.6165 2.00195 10.8867 2.00195C11.209 2.00195 11.4613 2.09473 11.6436 2.28027C11.8258 2.46582 11.917 2.70671 11.917 3.00293C11.917 3.10384 11.9089 3.19987 11.8926 3.29102L10.6816 9.78027C10.6133 10.1514 10.4587 10.4362 10.2178 10.6348C9.97689 10.8366 9.69043 10.9375 9.3584 10.9375C9.02311 10.9375 8.7334 10.8382 8.48926 10.6396C8.24837 10.4411 8.09375 10.1562 8.02539 9.78516L7.02441 4.58496H6.9707L5.96973 9.78516C5.90137 10.1562 5.74512 10.4411 5.50098 10.6396C5.26009 10.8382 4.97363 10.9375 4.6416 10.9375ZM1.54102 6.63086C1.46615 6.63086 1.40267 6.60645 1.35059 6.55762C1.30176 6.50879 1.27734 6.44694 1.27734 6.37207C1.27734 6.2972 1.30176 6.23535 1.35059 6.18652C1.40267 6.1377 1.46615 6.11328 1.54102 6.11328H12.459C12.5339 6.11328 12.5957 6.1377 12.6445 6.18652C12.6966 6.23535 12.7227 6.2972 12.7227 6.37207C12.7227 6.44694 12.6966 6.50879 12.6445 6.55762C12.5957 6.60645 12.5339 6.63086 12.459 6.63086H1.54102Z' fill='#2F7262')
                              defs
                                clipPath#clip0_113_177
                                  rect(width='14' height='12' fill='white')
                        span.tt_txt_won 200,000
                .tt_cheers_tf
                  strong.tt_tit_cheers_layer 응원 댓글
                  .tt-box-textarea
                    .tt-inner-g
                      label.screen_out(for='cheersComment') 응원글
                      textarea#cheersComment(placeholder='좋은 글 감사합니다 :)')
                .tt_cheers_info
                  strong.tt_tit_cheers_layer
                    button.btn_tit_cheers(type='button')
                      | 상품 및 환불 안내
                      span.tt_img_area_reply.tt_ico_arrow1(style='transform: rotate(0deg);') 내용보기
                  .tt_box_cheers_info
                    ul.tt_list_cheers_info
                      li 창작 활동에 대한 감사와 격려의 의미로 창작자를 응원합니다.
                      li '응원하기'는 자발적 결제이므로 청약철회(환불) 불가능합니다.
                      li '응원하기'는 만 14세 이상 인증 사용자만 이용할 수 있습니다. 만 19세 미만 미성년 회원의 경우, 법정대리인이 응원하기 결제 이용에 동의하지 않으면 미성년자 본인 또는 법정대리인이 그 결제 내용을 취소할 수 있습니다.
                      li
                        | '응원하기' 이용을 위한 자세한 내용은
                        a(href='https://www.tistory.com/info/contract' target='_blank' rel='noreferrer') 티스토리 이용약관
                        |  및
                        a(href='https://billing-web.kakao.com/kbill/terms/service' target='_blank' rel='noreferrer') 카카오 유료서비스 이용약관
                        | 을 따릅니다.
                    .tt_desc_cheers_info
                      | (주) 카카오 대표이사 정신아
                      br
                      | 사업자 등록 번호 120-81-47521
                      br
                      | 통신판매업신고번호
                      a(href='https://www.ftc.go.kr/bizCommPop.do?wrkr_no=1208147521' target='_blank' rel='noreferrer' style='color: rgb(119, 119, 119); text-decoration: underline;') 제2015-제주아라-0032호
                      br
                      | 주소 제주특별자치도 제주시 첨단로 242(영평동)
                      br
                      | 호스팅사업자 (주)카카오
                      br
                      | 고객센터 1577-3754
                      br
                      | 이메일 help.notice@kakaocorp.com

            .tt_cheers_layer_foot
              .wrap_btn
                button.tt_btn_cheers(type='submit')
                  span.tt_ico_cheers
                    svg(width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                      g(clip-path='url(#clip0_113_170)')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M3.13834 1.08131C2.69738 1.24795 2.57217 1.45132 2.53822 1.65981L2.53816 1.66021C2.51848 1.78026 2.56633 1.92335 2.81664 2.09277C3.06019 2.2576 3.41748 2.3849 3.78438 2.45708L3.91098 1.93206C3.96003 1.72866 4.15753 1.59742 4.36405 1.63101C4.82876 1.70659 5.18456 1.80466 5.42043 1.95588C5.54587 2.03631 5.66193 2.14716 5.72827 2.30089C5.79619 2.45831 5.79196 2.61408 5.75937 2.74514C5.69358 3.01304 5.4801 3.15122 5.31783 3.21819C5.15081 3.28712 4.95749 3.31695 4.77752 3.32892C4.41254 3.35321 3.98942 3.3105 3.6587 3.24759M3.65864 3.24758C3.22343 3.16486 2.73985 3.0068 2.36824 2.75529C1.99817 2.50483 1.65627 2.09545 1.74865 1.53104C1.84095 0.964633 2.22749 0.570303 2.85554 0.33296C3.45994 0.10456 4.33267 0 5.52246 0H17C17.2209 0 17.4 0.179086 17.4 0.4V10.6953C17.4 10.9162 17.2209 11.0953 17 11.0953H3.48101C3.2601 11.0953 3.08101 10.9162 3.08101 10.6953C3.08101 10.4743 3.2601 10.2953 3.48101 10.2953H16.6V0.8H5.52246C4.35673 0.8 3.60304 0.905697 3.13834 1.08131M2.14342 1.59553L1.74862 1.53125C1.74863 1.53118 1.74864 1.53111 1.74865 1.53104C1.74866 1.53098 1.74867 1.53092 1.74868 1.53085L2.14342 1.59553ZM2.14342 1.59553L2.14348 1.59554L2.14342 1.59553ZM4.58835 2.53571C4.63518 2.53523 4.68071 2.5336 4.7244 2.53069C4.73027 2.5303 4.73607 2.52989 4.74179 2.52946C4.69976 2.51709 4.65234 2.50447 4.59895 2.49175L4.58835 2.53571ZM5.0351 2.46779C5.03515 2.4678 5.03451 2.46826 5.03302 2.46911C5.03431 2.4682 5.03505 2.46777 5.0351 2.46779ZM5.37102 2.64926L5.37103 2.64926L5.37102 2.64926Z' fill='#F1F1F1')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M2.23903 1.16684C2.45463 1.21499 2.59038 1.42881 2.54223 1.64441L0.851312 9.2161C0.783014 9.51999 0.782767 9.83487 0.851319 10.142L0.851543 10.143L1.40295 12.6432L3.01096 10.4776C3.20912 10.21 3.34448 9.91635 3.41309 9.60914C3.4131 9.60909 3.41307 9.6092 3.41309 9.60914L4.98343 2.56065C5.03147 2.34502 5.24521 2.20916 5.46084 2.2572C5.67647 2.30524 5.81232 2.51899 5.76428 2.73461L4.19394 9.78311C4.09989 10.2044 3.91555 10.6003 3.65386 10.9537L1.52238 13.8243C1.42898 13.9501 1.27074 14.0098 1.11753 13.977C0.964323 13.9442 0.844362 13.825 0.810619 13.672L0.0705378 10.3163C0.0704961 10.3161 0.0705794 10.3164 0.0705378 10.3163C-0.0234025 9.89506 -0.0236393 9.46104 0.0705877 9.04155C0.0706129 9.04144 0.0705625 9.04166 0.0705877 9.04155L1.76147 1.47005C1.80962 1.25444 2.02343 1.1187 2.23903 1.16684Z' fill='#F1F1F1')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.74361 3.22393C7.95169 3.14972 8.18052 3.25825 8.25473 3.46632L9.33054 6.48298L10.4063 3.46633C10.4631 3.30704 10.614 3.20069 10.7831 3.20069C10.9522 3.20069 11.1031 3.30704 11.1599 3.46633L12.2357 6.48298L13.3115 3.46633C13.3857 3.25825 13.6145 3.14972 13.8226 3.22393C14.0307 3.29813 14.1392 3.52697 14.065 3.73505L12.6124 7.80816C12.5556 7.96745 12.4048 8.0738 12.2357 8.0738C12.0666 8.0738 11.9157 7.96745 11.8589 7.80816L10.7831 4.79151L9.70729 7.80816C9.65049 7.96745 9.49965 8.0738 9.33054 8.0738C9.16142 8.0738 9.01058 7.96745 8.95378 7.80816L7.50121 3.73505C7.427 3.52697 7.53553 3.29813 7.74361 3.22393Z' fill='#F1F1F1')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.11322 5.26865C7.11322 5.04774 7.29231 4.86865 7.51322 4.86865H14.0526C14.2735 4.86865 14.4526 5.04774 14.4526 5.26865C14.4526 5.48957 14.2735 5.66865 14.0526 5.66865H7.51322C7.29231 5.66865 7.11322 5.48957 7.11322 5.26865Z' fill='#F1F1F1')
                      defs
                        clipPath#clip0_113_170
                          rect(width='18' height='14' fill='white')
                  span.tt_txt_cheers 응원하기
            button.tt_cheers_layer_close(type='button')
              span.tt_img_area_reply.tt_ico_close 닫기

style
  :postcss
    #tt-body-page {
      #replies {
        .tt_box_cheers {
          @apply border-0 m-0 p-0;

          svg {
            @apply inline align-baseline;
          }

          .tt_btn_guide_cheers,
          .tt_btn_cheers,
          .tt_desc_cheers {
            @apply hidden;
          }

          .tt_cheers_layer {
            @apply backdrop-blur dark:bg-h-900/50;
          }
        }
      }
    }
