html[data-theme='dark']
  .uk-notification
    .uk-notification-message
      .metainfo
        background-color $THEME_BACKGROUND_COLOR_LEVEL3
        *
          color $THEME_COLOR_WHITE !important
        .description
          color alpha($THEME_COLOR_WHITE, .9) !important
