html[data-theme='dark']
  .content__list
    li > div::before
      background-color alpha($THEME_COLOR_WHITE, .5)
    > ol li:not(.tt_more_preview_comments_wrap)
      border-color alpha($THEME_COLOR_WHITE, .7)
      &::before
        background-color alpha($THEME_COLOR_WHITE, .5)
    .header .user .metainfo
      .name
        &, a
          color $THEME_COLOR_WHITE
      .date
        color alpha($THEME_COLOR_WHITE, .8)
    .body
      color $THEME_COLOR_WHITE
