mixin indexEmpty()
  .post.empty&attributes(attributes)
    .content
      .fallback
      .info
        .tit(class='h-7 lg:h-8')
        .desc(class='h-5')
        .summary(class='w-full h-14')

style
  :postcss
    #tt-body-index,
    #tt-body-category,
    #tt-body-tag,
    #tt-body-search {
      [data-list-style] {
        .post.empty {
          .info {
            * {
              @apply animate-pulse rounded-sm bg-h-200 dark:bg-h-700;
            }
          }
        }
      }
    }

style
  :postcss
    #tt-body-index,
    #tt-body-category,
    #tt-body-tag,
    #tt-body-search {
      [data-list-style=list] {
        .post.empty {
          .info {
            .tit {
              @apply w-6/12;
            }

            .desc {
              @apply w-3/12;
            }
          }
        }
      }
    }

style
  :postcss
    #tt-body-index,
    #tt-body-category,
    #tt-body-tag,
    #tt-body-search {
      [data-list-style=grid] {
        .post.empty {
          .info {
            .tit {
              @apply w-9/12;
            }

            .desc {
              @apply w-6/12;
            }
          }
        }
      }
    }

style
  :postcss
    #tt-body-index,
    #tt-body-category,
    #tt-body-tag,
    #tt-body-search {
      [data-list-style=zigzag] {
        .post.empty {
          .info {
            .tit {
              @apply w-9/12;
            }

            .desc {
              @apply w-6/12;
            }
          }
        }
      }
    }
