.post
  s_article_rep_thumbnail
    img.thumbnail(src="[##_article_rep_thumbnail_url_##]")
  .category: a(href="[##_article_rep_category_link_##]") [##_article_rep_category_##]
  h1.title: a(href="[##_article_rep_link_##]") [##_article_rep_title_##]
  p.summary [##_article_rep_summary_##]
  time.date
    | →
    span [##_article_rep_date_##]

style
  :stylus
    @media screen and (min-width: 600px)
      .post
        .title
            font-size 1.5em
    @media screen and (max-width: 600px)
      .post
        .title
          font-size 1.3em
    .post
      padding 50px 0
      border-top 1px solid rgba(0, 0, 0, .1)
      &:first-of-type
        padding-top 0
        padding-bottom 50px
        border none
      &:last-of-type
        padding-bottom 0px
      .title
        margin-top 10px
        line-height 1.5em
        a
          color rgba(0, 0, 0, .9) !important
      .category
        margin-bottom 8px
        a
          font-size .92em
          font-weight 500
          color #ed5207 !important
      .thumbnail
        width 100%
      .summary
        display -webkit-box
        display -ms-flexbox
        display box
        -webkit-box-orient vertical
        -webkit-line-clamp 3
        line-height 1.8em
        overflow hidden
        max-height 80px
        margin-top 1px
        vertical-align top
        word-break break-all
      .date
        font-size .87em
        color rgba(0, 0, 0, .3)
        > span
          margin-left 7px
      .thumbnail
        border-radius 5px
        margin-bottom 25px
