#__main
  #__guestbook, #__tags
    padding-top 75px
    h1
      font-size 1.8rem
      text-align center
      margin-bottom 60px
      font-weight 600
      color var(--h-color) !important
      @media screen and (max-width: 1200px)
        font-size 1.5rem
