.list
  margin-top 120px
  ul
    margin-top 60px
  .uk-grid
    margin-left -10px
    margin-right -10px
  header
    text-align center
    .img
      display none
    .heading
      .title
        font-size 1.8rem
        text-align center
        font-weight 600
        margin-bottom 0px
        color var(--h-color)
      .description
        margin-top 10px
  .item
    .img
      display block
  @media screen and (max-width: 1200px)
    margin-top 80px
    ul
      margin-top 40px
    header
      .title
        font-size 1.5rem
