$WIDTH = 180px
$HEIGHT = 620px

#__spy
  position absolute
  width $WIDTH
  list-style none
  text-align left
  font-weight 400
  z-index 0
  display none
  #spy__shadow
    position sticky
    top 80px
    height $HEIGHT
    overflow hidden
    width $WIDTH
    ul
      overflow-x hidden
      overflow-y scroll
      max-height $HEIGHT
      width $WIDTH + 20px
      position absolute
      border-left 1px dashed alpha(black, .2)
      li
        padding-left 20px
        box-sizing border-box
        max-width $WIDTH
        a
          font-size .82rem
  .uk-active
    a
      transition-duration .5s
      color alpha($THEME_COLOR_BLACK, .9)
      font-weight 500
  a[data-tag=h3]
    padding-left 15px
  @media screen and (max-width: 1820px)
    display none !important

#tt-body-page
  #__spy
    display block
    // (MAX_WIDTH + ARTICLE_WIDTH / 2) + MARGIN_LEFT
    padding-left 'calc(((1100px + %s) / 2) + 50px)' % var(--h-article-width)
