#tt-body-tag
  #__tags
    width var(--h-tagcloud-width)
    margin-left s('calc((%s - %s) / 2)', var(--h-index-width), var(--h-tagcloud-width))

#__tags
  ul
    column-count auto
    column-gap 20px
    column-width 160px
    h1
      color var(--h-color) !important
    li
      break-inside avoid
      text-align center
      margin-bottom 15px
      a
        background var(--h-color-background-level-2)
        color var(--h-color-blur)
        display inline-block
        font-size .9rem
        border-radius 5px
        transition-duration .2s
        line-height 1.8em
        box-sizing border-box
        padding 20px 14px
        width 100%
        &:hover
          background var(--h-button-color-hover-background)
          color var(--h-button-color-hover) !important
    @media screen and (max-width: 690px)
      column-count 1
    @media screen and (min-width: 690px) and (max-width: 960px)
      column-count 2
    @media screen and (min-width: 960px) and (max-width: 1200px)
      column-count 4
  @media screen and (max-width: 1200px)
    width 100% !important
    margin-left 0 !important
