#comment-list
  s_rp_container
    #comment-overlay(class="uk-position-cover uk-position-fixed")
    ul#comments
      s_rp_rep
        li(id="[##_rp_rep_id_##]")
          include List/Comment
          ul.re-comments
            s_rp2_rep
              li(id="[##_rp_rep_id_##]")
                include List/Reply

script.
  const $overlay = document.getElementById('comment-overlay')
  const $body = document.querySelectorAll('.rp .body')
  const hiddenOverlay = e => {
    e.stopPropagation()
    $overlay.style.display = 'none'
    Array.from($body).forEach($act => $act.parentNode.getElementsByClassName('action')[0].style.display = 'none')
    Array.from(document.querySelectorAll('.rp')).forEach($rp => $rp.style.zIndex = 1)
  }
  Array.from($body).forEach($act => {
    $act.addEventListener('click', e => {
      e.target.closest('.rp').style.zIndex = 9999
      $overlay.style.display = 'block'
      e.target.parentNode.getElementsByClassName('action')[0].style.display = 'block'
    })
  })
  $overlay.addEventListener('click', hiddenOverlay)
  Array.from(document.querySelectorAll('.action')).forEach($act => $act.addEventListener('click', hiddenOverlay))

style
  :stylus
    #comment-list
      #comment-overlay
        z-index 9998
        display none
        background-color rgba(255, 255, 255, .95)
      #comments
        list-style none
        margin 0
        padding 0
        padding-top 35px
        min-width 270px
        overflow hidden
        li
          clear both
          .rp
            margin-bottom 35px
            position relative
            z-index 1
          div
            position relative
            .profile
              position absolute
              bottom 0
              img
                border-radius 50%
                width 40px
                height 40px
            .action
              display none
              position absolute
              top -35px
              margin-bottom 10px
              > *
                font-size 1.1rem
                color black
            .description
              .body
                margin-top 0
                margin-bottom 0
                cursor pointer
                display inline-block
                border-radius 26px
                font-weight 500
                letter-spacing .8px
                padding 15px 20px
                font-size .9rem
                line-height 1.8em
              .metainfo
                font-size .77rem
                margin-top 8px
                .name
                  display inline-block
                .date
                  color rgba(0, 0, 0, .5)
