.protected.permalink
  .text
    text-align center
    margin-top 30px
    font-size .96rem
    line-height 1.8em
    color var(--h-color)
  .input
    background-color var(--h-color-background-level-2) !important
    color var(--h-color)
    border none
    font-size .8rem
    width 200px
    margin 0 auto
    transition none
