.protected.content__permalink
  .text
    text-align center
    margin-top 30px
    font-size .96rem
    line-height 1.8em
  .input
    background-color $THEME_BACKGROUND_COLOR_LEVEL1 !important
    border none
    font-size .8rem
    width 200px
    margin 0 auto
    transition none
