html[data-theme='dark']
  .list[data-mode='zigzag']
    .item
      &::before
        background-color alpha($THEME_COLOR_WHITE, .5)
      .description
        background $THEME_BACKGROUND_COLOR_LEVEL2
        border-color none
