#meta
  span.author [##_article_rep_author_##]
  span.date [##_article_rep_date_##]
  s_ad_div
    span.update
      a(href="[##_s_ad_m_link_##]") 수정
    span.state
      a(href="#" onclick="[##_s_ad_s2_onclick_##]") [##_s_ad_s1_label_##]
    span.delete
      a(href="#" onclick="[##_s_ad_d_onclick_##]") 삭제

style
  :stylus
    #meta
      font-size .9em
      span
        display inline-block
        color rgba(0, 0, 0, .5)
        padding 0 3px
        &:first-of-type
          border none
