s_tag_label
  #tags [##_tag_label_rep_##]

script.
  const $tags = document.querySelector('#tags').childNodes
  Array.from($tags).forEach($node => {
    if ($node.nodeType === 3) {
      $node.remove()
    }
  })

style
  :stylus
    #tags
      text-align left
      margin-bottom 15px
      a
        margin-top 10px
        margin-right 10px
        background #f8f8f8
        color rgba(0, 0, 0, .5)
        display inline-block
        font-size .80rem
        display inline-block
        border-radius 26px
        padding 8px 14px
        transition-duration .2s
        &:hover
          background-color #ed5207
          color white
