.metainfo
  time.date [##_article_rep_date_##]
  include Metainfo/Admin

style
  :stylus
    .permalink
      #header
        > .metainfo
          font-size .9rem
          color alpha(black, .5)
          span
            display inline-block
            padding 0 3px
